@media (max-width: 991px) {
    /* ckeckout page css */
    .checkout-area{
        margin-left: -20px;
    }
    .checkout-area .billing-area{
        width: calc(55% - 20px);
        margin-left: 20px;
    }
    .checkout-area .order-area{
        width: calc(45% - 20px);
        margin-left: 20px;
    }
    .checkout-area .billing-area form h2{
        font-size: 20px;
    }
    .checkout-area .billing-area form .billing-form  ul.billing-ul.input-2 li.billing-li{
        width: 100%;
        margin-left: 0px;
        margin-top: 15px;
    }
    .checkout-area .billing-area form .billing-form ul.billing-ul.input-2 li.billing-li:first-child{
        width: 100%;
        margin-top: 0px;
    }
    .checkout-area .billing-area .billing-details form h2{
        font-size: 20px;
    }
    .checkout-area .order-area .check-pro ul.check-ul li .check-pro-img{
        width: 35%;
    }
    .checkout-area .order-area .check-pro ul.check-ul li .check-content{
        width: 65%;
    }
}

@media (max-width: 767px) {
    /* checkout page css */
    .checkout-area{
        margin-left: 0px;
    }
    .checkout-area .billing-area{
        width: 100%;
        margin-left: 0px;
    }
    .checkout-area .order-area{
        width: 100%;
        margin-left: 0px;
    }
    .checkout-area .billing-area form{
        padding: 15px;
    }
    .checkout-area .billing-area form ul.billing-ul{
        margin-top: 15px;
    }
    .checkout-area .order-area{
        margin-top: 30px;
    }
    .checkout-area .order-area a.btn-style1{
        margin-top: 20px;
    }
}