/* breadcrumb padding */
.breadcrumb-t-padding{
    padding-top: 30px;
}
.breadcrumb-b-padding{
    padding-top: 30px;
}
.breadcrumb-tb-padding{
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (max-width: 767px){
    .breadcrumb-t-padding{
        padding-top: 20px;
    }
    .breadcrumb-b-padding{
        padding-bottom: 20px;
    }
    .breadcrumb-tb-padding{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
/* breadcrumb css */
.about-breadcrumb .about-back{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 5;
}
.about-breadcrumb .about-back .about-l ul.about-link{
    text-align: center;
}
.about-breadcrumb .about-back .about-l ul.about-link li.go-home a{
    font-size: 18px;
    color: #333;
    position: relative;
    font-weight: 500;
    padding-bottom: 10px;
}
.about-breadcrumb .about-back .about-l ul.about-link li.go-home a::after{
    background-color: #333;
    content: "";
    position: absolute;
    bottom: -15px;
    right: 0px;
    left: 0px;
    width: 3px;
    height: 15px;
    margin: 0 auto;
}
.about-breadcrumb .about-back .about-l ul.about-link li.about-p {
    padding-top: 26px;
}
.about-breadcrumb .about-back .about-l ul.about-link li.about-p span{
    font-size: 18px;
    color: #333;
    font-weight: 500;
}
/* cart login box css */
.register-area{
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-area .register-box{
    min-width: 400px;
    width: 50%;
    padding: 30px;
    border: 1px solid #eee;
}
.register-area .register-box h1{
    font-size: 30px;
    text-align: center;
}
.register-area .register-box p{
    margin-top: 10px;
    text-align: center;
}
.register-area .register-box form {
    margin-top: 22px;
}
.register-area .register-box form input{
    width: 100%;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 13px;
    border: 1px solid #eee;
    border-radius: 3px;
}
.register-area .register-box form input:first-child {
    margin-top: 0px;
}
.register-area .register-box a.btn-style1{
    width: 100%;
    margin-top: 30px;
    text-align: center;
}
.register-area .register-account{
    width: calc(50% - 30px);
    margin-left: 30px;
    padding: 30px
}
.register-area .register-account h4{
    font-size: 16px;
    text-align: center;
}
.register-area .register-account a.ceate-a{
    position: relative;
    color: #9d0208;
    width: 100%;
    padding: 13px 25px;
    margin-top: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #9d0208;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.register-area .register-account a.ceate-a::after{
    background-color: #9d0208;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}
.register-area .register-account a.ceate-a:hover::after{
    opacity: 0.1;
    visibility: visible;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.register-area .register-account .register-info a.terms-link span{
    color: #000;
    line-height: 1;
    font-size: 12px;
}
.register-area .register-account .register-info a.terms-link{
    color: #9d0208;
    margin-top: 30px;
    font-size: 12px;
    font-weight: 600;
}
.register-area .register-account .register-info p{
    font-size: 13px;
    margin-top: 10px;
}
.register-area .register-account .register-info p a{
    color: #9d0208;
    font-weight: 600;
}
.register-area{
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-area .register-box{
    width: 50%;
    padding: 30px;
    border: 1px solid #eee;
}
.register-area .register-box h1{
    font-size: 30px;
    text-align: center;
}
.register-area .register-box p{
    margin-top: 10px;
    text-align: center;
}
.register-area .register-box form input{
    width: 100%;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 15px;
    border: 1px solid #b5b5b5;
    border-radius: 3px;
}.register-area .register-box form input:first-child {
    margin-top: 0px;
}
.register-area .register-box a.btn-style1{
    width: 100%;
    margin-top: 30px;
    text-align: center;
}
.register-area .register-account{
    width: calc(50% - 30px);
    margin-left: 30px;
}
.register-area .register-account h4{
    font-size: 16px;
    text-align: center;
}
.register-area .register-account a.ceate-a{
    position: relative;
    color: #9d0208;
    background-color: #fff;
    width: 100%;
    padding: 13px 25px;
    margin-top: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #9d0208;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.register-area .register-account a.ceate-a:hover{
    background-color: #9d0208;
    color: white;
}
/* .register-area .register-account a.ceate-a:hover::after{
    opacity: 0;
    visibility: visible;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
} */
.register-area .register-account .register-info a.terms-link span{
    color: #000;
    line-height: 1;
    font-size: 12px;
}
.register-area .register-account .register-info a.terms-link{
    color: #9d0208;
    margin-top: 30px;
    font-size: 12px;
    font-weight: 600;
}
.register-area .register-account .register-info p{
    font-size: 13px;
    margin-top: 10px;
}
.register-area .register-account .register-info p a{
    color: #9d0208;
    font-weight: 600;
}
/* login page css */
.login-area{
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-area .login-box{
    width: 50%;
    padding: 30px;
    border: 1px solid #eee;
}
.login-area .login-box h1{
    font-size: 30px;
    text-align: center;
}
.login-area .login-box p{
    margin-top: 10px;
    text-align: center;
}
.login-area .login-box form {
    margin-top: 17px;
}
.login-area .login-box form label{
    margin-top: 15px;
}
.login-area .login-box form label:first-child {
    margin-top: 0px;
}
.login-area .login-box form input{
    width: 100%;
    padding: 10px 15px;
    font-size: 13px;
    margin-top: 10px;
    border: 1px solid #eee;
    border-radius: 3px;
}
.login-area .login-box a.btn-style1{
    width: 100%;
    margin-top: 30px;
    text-align: center;
}
.login-area .login-box a.re-password{
    color: #9d0208;
    margin-top: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.login-area .login-account{
    width: calc(50% - 30px);
    margin-left: 30px;
}
.login-area .login-account h4{
    font-size: 16px;
    text-align: center;
}
.login-area .login-account a.ceate-a{
    position: relative;
    color: #9d0208;
    width: 100%;
    padding: 13px 25px;
    margin-top: 23px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #9d0208;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.login-area .login-account a.ceate-a::after{
    background-color: #9d0208;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}
.login-area .login-account a.ceate-a:hover::after{
    opacity: 0.1;
    visibility: visible;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.login-area .login-account .login-info {
    margin-top: 24px;
}
.login-area .login-account .login-info a.terms-link span{
    color: #000;
    line-height: 1;
    font-size: 12px;
}
.login-area .login-account .login-info a.terms-link{
    color: #9d0208;
    font-size: 12px;
    font-weight: 600;
    
}
.login-area .login-account .login-info p{
    font-size: 13px;
    margin-top: 6px;
}
.login-area .login-account .login-info p a{
    color: #9d0208;
    font-weight: 600;
}

.register-box form input {
    height: 47px !important;
}
.btn-style1 {
    font-weight: 600;
}
.btn-style1:hover {
    color: #9d0208 !important;
}