body {
    background-color: #fff;
}

.images-nav {
    border: unset;
}

.images-nav li {
    width: 100px;
    height: 100px !important;
    border: unset;
}

.images-nav li a {
    border: unset !important;
}

.images-nav .nav-link.active {
    border: unset !important;
}

img.shoppa-logo {
    width: 170px !important;
    height: auto;
}

.brand-color {
    color: #9d0208;
}

.w-25px {
    width: 25px;
}

.undo-rotate {
    transform: rotate(0deg) !important;
}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 65px;
    column-gap: 10px;
}

.products-grid .items {
    width: 210px;
    /* margin: 0 auto; */
}

.products-grid .items:last-child {
    margin-left: 45px;
    margin-right: auto
}

.home-slider-2 .items.third-slide h1 {
    color: white;
}

.organic-food-fresh-banner {
    height: 240px;
}

.organic-food-fresh-banner img {
    object-fit: cover;
}

.organic-food-fresh-banner img, .organic-food-fresh-banner .offer-banner, .organic-food-fresh-banner .banner-hover {
    height: 100%;
}

.game-banner .banner-content span {
    color: wheat !important;
}

.game-banner .banner-content h2 {
    color: white;
}

.game-banner .banner-content a {
    color: wheat !important;
}

.news-letter .news-content h4, .news-letter .news-content span {
    color: white;
}