.account-card {
    margin-bottom:30px;
    border-radius:8px;
    padding:0px 30px 30px;
    background:var(--white)
   }
   .account-title {
    padding:18px 0px;
    margin-bottom:25px;
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    border-bottom:1px solid var(--border)
   }
   .account-title::before {
    position:absolute;
    content:"";
    bottom:-2px;
    left:0px;
    width:50px;
    height:2px;
    background:var(--primary)
   }
   .account-title h4 {
    text-transform:capitalize
   }
   .account-title button,
   .account-title a {
    border:none;
    font-size: 16px;
	font-weight: bold;
	border-radius: 6px;
	letter-spacing: 0.3px;
	padding: 5px 22px;
	white-space: nowrap;
	text-transform: capitalize;
    color: rgb(60, 61, 60);
    background: rgba(78, 118, 97, 0.5);
    text-shadow:var(--primary-tshadow);
    transition:all linear .3s;
    -webkit-transition:all linear .3s;
    -moz-transition:all linear .3s;
    -ms-transition:all linear .3s;
    -o-transition:all linear .3s
   }
   .account-title button:hover,
   .account-title a:hover {
    color:var(--white);
    background:var(--primary)
   }
   @media (max-width: 575px) {
    .account-card {
     padding:0px 15px 15px
    }
   }
   .profile-card {
    padding:25px;
    border-radius:8px;
    margin-bottom:25px;
    background:#e2e1e1;
    border:2px solid var(--border);
    position:relative;
    cursor:pointer;
    transition: all ease-in 0.1s;
   }
   .profile-card.active {
    color: #fff;
   }
   .profile-card:hover ul {
    visibility:visible;
    opacity:1
   }
   .profile-card h6 {
    color:var(--text);
    margin-bottom:8px;
    text-transform:capitalize
   }
   .profile-card p {
    text-transform:capitalize
   }
   .profile-card ul {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    position:absolute;
    top:50%;
    right:15px;
    opacity:0;
    visibility:hidden;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    transition:all linear .3s;
    -webkit-transition:all linear .3s;
    -moz-transition:all linear .3s;
    -ms-transition:all linear .3s;
    -o-transition:all linear .3s;
    list-style: none;
   }
   .profile-card ul li {
    margin:5px 0px
   }
   .profile-card ul li button {
    width:30px;
    height:32px;
    line-height:32px;
    border-radius:6px;
    text-align:center;
    display:inline-block;
    background:var(--white);
    text-shadow:var(--primary-tshadow);
    -webkit-box-shadow:var(--primary-bshadow);
    box-shadow:var(--primary-bshadow);
    transition:all linear .3s;
    -webkit-transition:all linear .3s;
    -moz-transition:all linear .3s;
    -ms-transition:all linear .3s;
    -o-transition:all linear .3s;
    border: none;
   }
   .profile-card ul .edit {
    color:var(--green);
    /* border: 1px solid var(--primary); */
   }
   .profile-card ul .edit:hover {
    color:var(--white);
    background:var(--green)
   }
   .profile-card ul .trash {
    color:var(--red);
    /* border: 1px solid var(--red); */
   }
   .profile-card ul .trash:hover {
    color:var(--white);
    background:var(--red)
   }
   .profile-card.active {
    background:rgb(78, 118, 97);
    border-color:var(--primary);
   }
   .payment-card {
    padding:25px;
    border-radius:6px;
    margin-bottom:25px;
    background: #f5f5f5;
    border:1px solid var(--border);
    position:relative;
    cursor:pointer
   }
   .payment-card:hover button {
    visibility:visible;
    opacity:1
   }
   .payment-card img {
    margin-bottom:18px
   }
   .payment-card h4 {
    font-size:12px;
    line-height:20px;
    margin-bottom:5px;
    text-transform:capitalize
   }
   .payment-card p {
    color:var(--heading);
    margin-bottom:5px
   }
   .payment-card p span {
    font-size:20px;
    margin-right:15px;
    letter-spacing:2px
   }
   .payment-card p sup {
    font-size:13px;
    font-weight:500;
    letter-spacing:2px
   }
   .payment-card h5 {
    font-size:14px;
    line-height:22px;
    text-transform:capitalize
   }
   .payment-card button {
    position:absolute;
    top:15px;
    right:15px;
    opacity:0;
    visibility:hidden;
    width:30px;
    height:32px;
    line-height:32px;
    border-radius:6px;
    text-align:center;
    display:inline-block;
    background:var(--white);
    text-shadow:var(--primary-tshadow);
    -webkit-box-shadow:var(--primary-bshadow);
    box-shadow:var(--primary-bshadow);
    transition:all linear .3s;
    -webkit-transition:all linear .3s;
    -moz-transition:all linear .3s;
    -ms-transition:all linear .3s;
    -o-transition:all linear .3s;
    border: none;
   }
   .payment-card .trash {
    color:var(--red)
   }
   .payment-card .trash:hover {
    color:var(--white);
    background:var(--red)
   }
   .payment-card.active {
    background:rgba(154, 231, 190, 0.5);
    border: 2px solid var(--primary);
   }
   @media (max-width: 575px) {
    .payment-card p span {
     margin-right:8px
    }
   }

   .profile-image {
       display: flex;
       justify-content: center;
   }

   .profile-image span {
       font-size: 90px;
       color: #888;
   }

   .profile-part .form-control:focus {
       border-color: #046f36;
   }

   .profile-part .form-control:disabled {
        background-color: #f0f0f0;
   }

   .profile-btn a:hover {
	background: var(--green);
    text-decoration: none;
}

.profile-btn a {
	width: 100%;
    display: inline-block;
	height: 45px;
	line-height: 45px;
	border-radius: 8px;
	text-align: center;
	text-transform: capitalize;
	color: var(--white);
	background: var(--primary);
	transition: all linear .3s;
	-webkit-transition: all linear .3s;
	-moz-transition: all linear .3s;
	-ms-transition: all linear .3s;
	-o-transition: all linear .3s;
}

.profile-card {
    border: 2px solid #f5f5f5;
}

.profile-card:hover {
    border-color: var(--primary);
    color: var(--primary);
    background-color: #e8e8e8;
    /* font-weight: bold; */
    transition: all ease-out 0.1s;
}

.single-banner {
	background-size: cover !important;
	padding: 100px 0px;
	text-align: left;
	position: relative;
	z-index: 1;
}

.inner-section {
	margin-bottom: 80px;
}

.single-banner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(78, 118, 97, 0.5);
    z-index: 5;
}

@media (max-width: 1000px) {
    .alert, .profile-card, .payment-card {
        margin-bottom: 0;
    }
}

.payment-card img {
    width: 40px;
    margin-bottom: 10px;
}

.mobile-menu button {
    border: none;
    background: none
}


/* Mobile Menu */
.mobile-menu {
position:fixed;
bottom:0px;
/* left:0px; */
width:100%;
z-index:3;
/* background: #6ba184; */
background: #e8e8e8;
color: #fff;
border-radius:10px 10px 0px 0px;
-webkit-box-shadow:0px -5px 15px 0px rgba(0,0,0,0.1);
box-shadow:0px -5px 15px 0px rgba(0,0,0,0.1);
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between;
display:flex;
min-height: 55px;
max-width: 700px;
left: 50%;
right: 50%;
margin-left: auto;
transform: translate(50%, -8px);
}
.mobile-menu a,
.mobile-menu button {
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-ms-flex-direction:column;
flex-direction:column;
width:80px;
padding:8px 0px;
border-radius:8px;
position:relative;
color: #000;
}
.mobile-menu a:hover,
.mobile-menu button:hover {
background:var(--chalk);
transition: all ease 0.2s;
text-decoration: none !important;
}
.mobile-menu a:hover i,
.mobile-menu button:hover i {
/* color:var(--white) */
color:var(--primary)
}
.mobile-menu a:hover span,
.mobile-menu button:hover span {
/* color:var(--white) */
color:var(--primary)
}
.mobile-menu a i,
.mobile-menu button i {
font-size:15px;
margin-bottom:5px;
color:var(--text);
text-shadow:2px 3px 8px rgba(0,0,0,0.1)
}
.mobile-menu a span,
.mobile-menu button span {
transition: all ease 0.2s;
font-size:11px;
line-height:12px;
color:var(--text);
text-transform:uppercase;
text-align: center;
}
.mobile-menu a sup,
.mobile-menu button sup {
position:absolute;
top:-5px;
left:75%;
width:24px;
height:24px;
font-size:12px;
line-height:20px;
border-radius:50%;
text-align:center;
-webkit-transform:translateX(-50%);
transform:translateX(-50%);
color:var(--white);
background:var(--primary);
border:2px solid var(--green-chalk);
text-shadow:var(--primary-tshadow)
}
.mobile-menu a .fas fa-shopping-basket,
.mobile-menu button .fas fa-shopping-basket {
font-size:18px
}
@media (max-width: 991px) {
/* .mobile-menu {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
} */
}

.inner-section.single-banner .container {
    position: relative;
    z-index: 10;
}