{% extends 'base.html' %}

{% block page-title %}Activate Account Email{% endblock page-title %}

{% block main-content %}
<div class="activate-page">
    {% comment %} <p class="angry-text">We are unable to send verification emails to you because there is no email service provider that supports the community :frown :flat {% endcomment %}
        <br><br>
        <h5 class="text-center">{{ user.first_name }}, activate your account now</h5>
        <p class="my-4">To be able to login and sync your cart, click the button below to activate your account. The activation link expires after 1 hour</p>

        <a class="mx-auto" href="http://{{ domain }}{% url 'activate_account' uidb64=uid token=token %}"><button class="btn btn-style1">Activate Account</button></a>
    </div>
    {% comment %} http://{{ domain }}{% url 'activate_account' uidb64=uid token=token %} {% endcomment %}
{% endblock main-content %}

{% block custom-js %}
    <script>
        $(document).ready(function() {
            notyf.open({
                type: "info",
                message: "This is a demo of how the activation email will look",
                duration: 15000,
            });
        });
    </script>
{% endblock custom-js %}