{% extends 'base.html' %}

{% block content %}
<div class="change-pass-outer" id="nav-log-in">
<h4 class="fs-34 text-center mb-6">Change Your Password</h4>
<p class="text-secondary text-center">Submit the new password</p>
<p class="text-center fs-16 mb-7">Don’t have an account yet? <a href="#nav-register" class="text-secondary border-bottom text-decoration-none">Sign up</a> for free</p>
<form name="change-pass" method="POST" id="change-pass-form">
    <input id="change-pass1" name="change-pass1" type="password" class="form-control border-0 mb-3" placeholder="New Password" required>
    <input id="change-pass2" name="change-pass2" type="password" class="form-control border-0 mb-3" placeholder="Confirm Your Password" required>
    <button type="submit" value="Change My Password" class="btn btn-secondary btn-block bg-hover-primary border-hover-primary">Change My Password</button>
    <div class="border-bottom mt-6"></div>
</form>
<script>
    $("#change-pass-form").submit(function (e) {
        e.preventDefault();
        var serializedData = $(this).serialize();
        var pass1 = $("#change-pass1").val()
        var pass2 = $("#change-pass2").val()
        $.ajax({
            type: 'POST',
            url: "{% url 'update_password' %}",
            headers: {'X-CSRFToken': csrftoken},
            mode: 'same-origin',
            data: {
                "new_pass1": pass1,
                "new_pass2": pass2,
                "uid": "{{user_id}}"
            },
            success: function (response) {
                let message;
                let alert_type;
                if (typeof(response['responseJSON']) == 'undefined') {
                    message = response['message'];
                    alert_type = response['type'];
                } else {
                    message = response['responseJSON']['message'];
                    alert_type = response['responseJSON']['type'];
                }
                if (typeof(message) == 'undefined') {
                    message = 'An Error Occurred. Please Try Again'
                    alert_type = 'error'
                    console.log(response)
                    // location.reload()
                }
                if (typeof(message) == 'object') {
                    for (const error in message) {
                        error_message = message[error]
                        notyf.open({
                            type: alert_type,
                            message: error_message,
                            duration: 7000,
                        });
                    }
                } else if (alert_type === 'success') {
                    $("#change-pass-form").trigger('reset');
                    $("#change-pass-email").focus();
                    notyf.open({
                        type: alert_type,
                        message: message,
                        duration: 7000,
                    });
                } else {
                    notyf.open({
                        type: alert_type,
                        message: message,
                        duration: 7000,
                    });
                }
            },
            error: function (response) {
                processResponse(response)
            }
        })
    })
</script>
</div>
{% endblock content %}