{% extends 'base.html' %}
{% load static %}

{% block page-title %}{{ request.user.first_name }}'s Cart{% endblock page-title %}

{% block imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/chosen-cart.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cart-responsive.css' %}">
{% endblock imports %}

{% block main-content %}
    <!-- breadcrumb start -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-start">
                        <ul class="breadcrumb-url">
                            <li class="breadcrumb-url-li">
                                <a href="index5.html">Home</a>
                            </li>
                            <li class="breadcrumb-url-li">
                                <a href="#"><span>Cart</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->
    <!-- cart start -->
    <section class="cart-page section-tb-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-xs-12 col-sm-12 col-md-12 col-lg-8 all-cart-items">
                    <div class="cart-item">
                        <span class="cart-head">My Cart:</span>
                        <span class="c-items">{{ cart_item_count }} items</span>
                    </div>
                    {% if request.user.is_authenticated %}
                        {% for item in user_cart.cartdetails_set.all %}
                            {% with item.product as product and item.quantity as quantity %}
                                <div class="cart-area">
                                    <div class="cart-details">
                                        <div class="cart-all-pro">
                                            <div class="cart-pro">
                                                <div class="cart-pro-image">
                                                    <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="img-fluid" alt="image"></a>
                                                </div>
                                                <div class="pro-details">
                                                    <h4 class=""><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                                                    <div class="rating mt-2">
                                                        <i class="fa fa-star c-star"></i>
                                                        <i class="fa fa-star c-star"></i>
                                                        <i class="fa fa-star c-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="qty-item">
                                                <form method="post" class="center">
                                                    {% csrf_token %}
                                                    <div class="plus-minus">
                                                        <span>
                                                            <a href="javascript:void(0)" class="minus-btn text-black">-</a>
                                                            <input type="text" name="name" value="{{ quantity }}">
                                                            <a href="javascript:void(0)" class="plus-btn text-black">+</a>
                                                        </span>
                                                    </div>
                                                    <button name="remove_from_cart" value="{{ product.id }}" class="btn-style3 del-btn">Remove</button>
                                                    <button name="remove_from_cart" value="{{ product.id }}" class="del-icon"><span class="material-symbols-outlined">delete</span></button>
                                                </form>
                                            </div>
                                            <div class="all-pro-price">
                                                <span>₦{{ item.total }} NGN</span>
                                                <span class="old-price">₦{{ product.price }} NGN</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endfor %}
                    {% else %}
                        {% for item in user_cart.items %}
                            {% with item.product as product and item.quantity as quantity %}
                                <div class="cart-area">
                                    <div class="cart-details">
                                        <div class="cart-all-pro">
                                            <div class="cart-pro">
                                                <div class="cart-pro-image">
                                                    <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="img-fluid" alt="image"></a>
                                                </div>
                                                <div class="pro-details">
                                                    <h4 class=""><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                                                    <div class="rating mt-2">
                                                        <i class="fa fa-star c-star"></i>
                                                        <i class="fa fa-star c-star"></i>
                                                        <i class="fa fa-star c-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <form class="qty-item" method="post">
                                                {% csrf_token %}
                                                <div class="center">
                                                    <div class="plus-minus">
                                                        <span>
                                                            <a href="javascript:void(0)" class="minus-btn text-black">-</a>
                                                            <input type="text" name="name" value="{{ quantity }}">
                                                            <a href="javascript:void(0)" class="plus-btn text-black">+</a>
                                                        </span>
                                                    </div>
                                                    <button name="remove_from_cart" value="{{ product.id }}" class="btn-style3 del-btn">Remove</button>
                                                    <button name="remove_from_cart" value="{{ product.id }}" class="del-icon"><span class="material-symbols-outlined">delete</span></button>
                                                </div>
                                            </form>
                                            <div class="all-pro-price">
                                                <span>₦{{ item.total }} NGN</span>
                                                <span class="old-price">₦{{ product.price }} NGN</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                    <div class="other-link">
                        <ul class="c-link">
                            <li class=""><a class="btn-style1" href="grid-list.html">Update cart</a></li>
                            <li class=""><a class="btn-style1" href="grid-list.html">Continue shopping</a></li>
                            <li class=""><a class="btn-style1" href="index1.html">Clear cart</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-xs-12 col-sm-12 col-md-12 col-lg-4 shipping-total">
                    <div class="cart-total">
                        <div class="cart-price">
                            <span>Subtotal</span>
                            <span class="total">₦{{ subtotal }} NGN</span>
                        </div>
                        <div class="cart-price">
                            <span>Shipping and Delivery</span>
                            <span class="total">₦8.90 NGN</span>
                        </div>
                        <div class="cart-info">
                            <h4>Shipping info</h4>
                            <form>
                                <label>Country</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option>---</option>
                                    <option>Afghanistan</option>
                                    <option>Åland Islands</option>
                                    <option>Albania</option>
                                    <option>Algeria</option>
                                    <option>Andorra</option>
                                    <option>Angola</option>
                                    <option>Anguilla</option>
                                    <option>Antigua & Barbuda</option>
                                    <option>Argentina</option>
                                    <option>Armenia</option>
                                    <option>Aruba</option>
                                    <option>Ascension Island</option>
                                    <option>Australia</option>
                                    <option>Austria</option>
                                    <option>Azerbaijan</option>
                                    <option>Bahamas</option>
                                    <option>Bahrain</option>
                                </select>
                                <label>Zip/postal code</label>
                                <input type="text" name="code" placeholder="Zip/postal code">
                            </form>
                            <a href="javascript:void(0)" class="btn-style3 calculate-btn">Calculate</a>
                        </div>
                        <div class="shop-total">
                            <span>Total</span>
                            <span class="total-amount">₦78.44 NGN</span>
                        </div>
                        <a href="checkout-1.html" class="btn-style1 d-block text-center mt-3 checkout">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cart end -->
{% endblock main-content %}
