{% extends 'base.html' %}
{% load static %}

{% block imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/chosen-wishlist.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/wishlist-responsive.css' %}">
{% endblock imports %}

{% block main-content %}
    <!-- breadcrumb start -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-start">
                        <ul class="breadcrumb-url">
                            <li class="breadcrumb-url-li">
                                <a href="index5.html">Home</a>
                            </li>
                            <li class="breadcrumb-url-li">
                                <a href="#"><span>Wishlist</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->
    <!-- wishlist start -->
    <section class="wishlist-page section-tb-padding">
        <div class="container">
            <div class="row">
                <div class="col all-wishlist-items">
                    <div class="wishlist-item">
                        <span class="wishlist-head">My wishlist:</span>
                        <span class="wishlist-items">3 item</span>
                    </div>
                    {% for product in wishlist.wish_products.all %}
                        <div class="wishlist-area">
                            <div class="wishlist-details">
                                <form class="wishlist-all-pro" method="post">
                                    <div class="wishlist-pro">
                                        <div class="wishlist-pro-image">
                                            <a href="#"><img src="{{ product.image.url }}" class="img-fluid" alt="image"></a>
                                        </div>
                                        <div class="pro-details">
                                            <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                                            <div class="rating mt-2">
                                                <i class="fa fa-star c-star"></i>
                                                <i class="fa fa-star c-star"></i>
                                                <i class="fa fa-star c-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qty-item" method="post">
                                        {% csrf_token %}
                                        <button name="add_to_cart" value="{{ product.id }}" class="wish-btn">Add to cart</button>
                                        <button name="add_to_wishlist" value="{{ product.id }}" class="wish-btn buy-btn">Buy now</button>
                                    </div>
                                    <div class="all-pro-price">
                                        <span class="new-price">₦{{ product.price }} NGN</span>
                                        <span class="old-price"><del>₦{{ product.previous_price }} NGN</del></span>
                                    </div>
                                    <button class="cancel-button" name="remove_from_wishlist" value="{{ product.id }}"><span class="material-symbols-outlined">cancel</span></button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="other-link">
                        <ul class="c-link">
                            <li class=""><a class="btn-style1" href="grid-list.html">Continue shopping</a></li>
                            <li class=""><a class="btn-style1" href="index1.html">Clear wishlist</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main-content %}
