{% extends 'base.html' %}
{% load static %}

{% block page-title %}{{ request.user.first_name }}'s Dashboard{% endblock page-title %}

{% block imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/chosen-history.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/history-responsive.css' %}">
{% endblock imports %}

{% block main-content %}
    <!-- breadcrumb start -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-start">
                        <ul class="breadcrumb-url">
                            <li class="breadcrumb-url-li">
                                <a href="index5.html">Home</a>
                            </li>
                            <li class="breadcrumb-url-li">
                                {% if request.user.is_authenticated %}
                                    <a href="#"><span>{{ request.user.first_name }}'s Profile</span></a>
                                {% else %}
                                    <a href="#"><span>Your Tickets</span></a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->

    <!-- order history start -->
    <!-- order history start -->
    <section class="order-histry-area section-tb-padding">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="order-history">
                        {% include 'accounts/profile-tabs.html' %}
                        <div class="profile-tickets">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Ticket subject</th>
                                        <th>Date submitted</th>
                                        <th>Type</th>
                                        <th>Priority</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>My new ticket</td>
                                        <td>02/08/2021</td>
                                        <td>Website problem</td>
                                        <td class="delayed">High</td>
                                        <td>Open</td>
                                    </tr>
                                    <tr>
                                        <td>Another ticket</td>
                                        <td>03/21/2021</td>
                                        <td>Partner request</td>
                                        <td class="process">Medium</td>
                                        <td>Closed</td>
                                    </tr>
                                    <tr>
                                        <td>Yet another ticket</td>
                                        <td>04/19/2021</td>
                                        <td>Complaint</td>
                                        <td class="canceled">Urgent</td>
                                        <td>Closed</td>
                                    </tr>
                                    <tr>
                                        <td>My old ticket</td>
                                        <td>05/19/2021</td>
                                        <td>Info inquiry</td>
                                        <td class="delivered">Low</td>
                                        <td>Closed</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h6 class="text-center">Note: These are just dummy ticket history data to soothe your eyes </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- order history end -->
    <!-- order history end -->

{% endblock main-content %}