{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/imported.css' %}">

<style>
    {% comment %} main {
        background: rgb(245, 246, 247);
    }

    .bt-top {
        display: none;
    } {% endcomment %}
</style>

<section class="inner-section single-banner" style="background: url({% static 'images/3515447.jpg' %}) no-repeat center;">
    <div class="container">
        <h2>My Dashboard</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Account</li>
        </ol>
    </div>
</section>

<div class="mobile-menu">
    <a href="{% url 'dashboard' %}" title="Home Page">
        <i class="fas fa-home"></i>
        <span>Home</span>
    </a>
    <a href="{% url 'dashboard' %}" class="cate-btn" title="Category List">
        <i class="fas fa-history"></i>
        <span>Order History</span>
    </a>
    <a href="{% url 'wishlist' %}" class="cart-btn" title="Wishlist">
        <i class="fas fa-heart"></i>
        <span>Wishlist</span>
        <sup>9+</sup>
    </button>
    <a href="{% url 'cart' %}" title="Cart">
        <i class="fas fa-shopping-cart"></i>
        <span>Cart</span>
        <sup>0</sup>
    </a>
    <a href="{% url 'logout' %}" title="Compare List">
        <i class="fas fa-sign-out"></i>
        <span>Logout</span>
        {% comment %} <sup>0</sup> {% endcomment %}
    </a>
</div>

<section class="inner-section profile-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="account-card">
                    <div class="account-title">
                        <h4>Your Profile</h4><button data-bs-toggle="modal" data-bs-target="#profile-edit">edit
                            profile</button>
                    </div>
                    <div class="account-content">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="profile-image"><a href="#">
                                    <span class="material-symbols-outlined">
                                        account_circle
                                    </span>
                                </a></div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group"><label class="form-label">Name</label>
                                    <input class="form-control" type="text" value="{{user.get_full_name}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group"><label class="form-label">Email</label>
                                    <input class="form-control" type="email" value="{{user.email}}" disabled>
                                </div>
                            </div>
                            <div class="col-lg-2 d-flex align-items-center">
                                <div class="profile-btn w-100"><a href="{% url 'reset_password' %}">change password</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="account-card">
                    <div class="account-title">
                        <h4>Contact Details</h4>
                        <button data-bs-toggle="modal" data-bs-target="#contact-add">add contact</button>
                    </div>
                    <div class="account-content">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card contact active">
                                    <h6>Phone</h6>
                                    <p>{{user.phone_number}}</p>
                                    <ul>
                                        <li>
                                            <button class="d-flex align-items-center justify-content-center edit icofont-edit" title="Edit This" data-bs-toggle="modal" data-bs-target="#contact-edit">
                                                <span class="material-symbols-outlined">
                                                    edit_note
                                                </span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="d-flex align-items-center justify-content-center trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert">
                                                <span class="material-symbols-outlined">
                                                    delete_forever
                                                </span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card address active">
                                    <h6>Address</h6>
                                    <p>{{user.address}}</p>
                                    <ul>
                                        <li>
                                            <button class="d-flex align-items-center justify-content-center edit icofont-edit" title="Edit This" data-bs-toggle="modal" data-bs-target="#contact-edit">
                                                <span class="material-symbols-outlined">
                                                    edit_note
                                                </span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="d-flex align-items-center justify-content-center trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert">
                                                <span class="material-symbols-outlined">
                                                    delete_forever
                                                </span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% comment %} <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card contact">
                                    <h6>secondary</h6>
                                    <p>+8801941101915</p>
                                    <ul>
                                        <li>
                                            <button class="d-flex align-items-center justify-content-center edit icofont-edit" title="Edit This" data-bs-toggle="modal" data-bs-target="#contact-edit">
                                                <span class="material-symbols-outlined">
                                                    edit_note
                                                </span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="d-flex align-items-center justify-content-center trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert">
                                                <span class="material-symbols-outlined">
                                                    delete_forever
                                                </span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="col-lg-12">
                <div class="account-card">
                    <div class="account-title">
                        <h4>delivery address</h4><button data-bs-toggle="modal" data-bs-target="#address-add">add
                            address</button>
                    </div>
                    <div class="account-content">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card address active">
                                    <h6>Home</h6>
                                    <p>jalkuri, fatullah, narayanganj-1420. word no-09, road no-17/A</p>
                                    <ul>
                                        <li>
                                            <button class="d-flex align-items-center justify-content-center edit icofont-edit" title="Edit This" data-bs-toggle="modal" data-bs-target="#contact-edit">
                                                <span class="material-symbols-outlined">
                                                    edit_note
                                                </span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="d-flex align-items-center justify-content-center trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert">
                                                <span class="material-symbols-outlined">
                                                    delete_forever
                                                </span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card address">
                                    <h6>Office</h6>
                                    <p>east tejturi bazar, dhaka-1200. word no-04, road no-13/c, house no-4/b</p>
                                    <ul>
                                        <li>
                                            <button class="d-flex align-items-center justify-content-center edit icofont-edit" title="Edit This" data-bs-toggle="modal" data-bs-target="#contact-edit">
                                                <span class="material-symbols-outlined">
                                                    edit_note
                                                </span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="d-flex align-items-center justify-content-center trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert">
                                                <span class="material-symbols-outlined">
                                                    delete_forever
                                                </span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="profile-card address">
                                    <h6>Bussiness</h6>
                                    <p>kawran bazar, dhaka-1100. word no-02, road no-13/d, house no-7/m</p>
                                    <ul>
                                        <li>
                                            <button class="d-flex align-items-center justify-content-center edit icofont-edit" title="Edit This" data-bs-toggle="modal" data-bs-target="#contact-edit">
                                                <span class="material-symbols-outlined">
                                                    edit_note
                                                </span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="d-flex align-items-center justify-content-center trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert">
                                                <span class="material-symbols-outlined">
                                                    delete_forever
                                                </span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
            <div class="col-lg-12">
                <div class="account-card mb-0">
                    <div class="account-title">
                        <h4>payment option</h4><button data-bs-toggle="modal" data-bs-target="#payment-add">add
                            card</button>
                    </div>
                    <div class="account-content">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="payment-card payment active">
                                    <img src="{% static 'images/icons/visa.png' %}" alt="payment">
                                    <h4>card number</h4>
                                    <p><span>****</span><span>****</span><span>****</span><sup>1876</sup></p>
                                    <h5>Martian Manhunter</h5>
                                    <button class="d-flex justify-content-center align-items-center trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert">
                                        <span class="material-symbols-outlined">
                                            delete_forever
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="payment-card payment">
                                    <img src="{% static 'images/icons/maestro.png' %}" alt="payment">
                                    <h4>card number</h4>
                                    <p><span>****</span><span>****</span><span>****</span><sup>1876</sup></p>
                                    <h5>Eyetu Queen</h5>
                                    <button class="d-flex justify-content-center align-items-center trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert">
                                        <span class="material-symbols-outlined">
                                            delete_forever
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 alert fade show">
                                <div class="payment-card payment">
                                    <img src="{% static 'images/icons/paypal.png' %}" alt="payment">
                                    <h4>card number</h4>
                                    <p><span>****</span><span>****</span><span>****</span><sup>1876</sup></p>
                                    <h5>Eyetu Kingsley</h5>
                                    <button class="d-flex justify-content-center align-items-center trash icofont-ui-delete" title="Remove This" data-bs-dismiss="alert">
                                        <span class="material-symbols-outlined">
                                            delete_forever
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}