{% extends 'base.html' %}
{% load static %}

{% block page-title %}Login{% endblock page-title %}

{% block imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/chosen-register.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register-responsive.css' %}">
{% endblock imports %}

{% block main-content %}
    <!-- login start -->
    <section class="section-tb-padding">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="register-area">
                        <div class="register-box">
                            <h1>Login Here</h1>
                            <p>Input the correct email and password associaed with your account</p>
                            <form method="post">
                                {% csrf_token %}
                                {% for field in login_form %}
                                    {{ field }}
                                {% endfor %}
                                {% comment %} <input type="email" name="email" placeholder="Email">
                                <input type="password" name="password" placeholder="Password"> {% endcomment %}
                                <button type="submit" class="btn-style1 mb-4">Login</button>
                            </form>
                        </div>
                        <div class="register-account">
                            <h4>Don't have an account yet?</h4>
                            <a href="{% url 'register_user' %}" class="ceate-a">Create Account</a>
                            <h4 class="acc-help mb-3">Need Help With Your Account?</h4>
                            <a class="w-full" href="{% url 'reset_password' %}">
                                <button class="btn-style3 w-full">
                                    Forgot Password
                                </button>
                            </a>
                            <a class="w-full" href="{% url 'resend_token' %}">
                                <button class="btn-style3 w-full mt-3">
                                    Activate Account
                                </button>
                            </a>
                            <div class="register-info">
                                <a href="{% url 'terms_and_conditions' %}" class="terms-link"><span>*</span> Terms & conditions.</a>
                                <p>Your privacy and security are important to us. For more information on how we use your data read our <a href="{% url 'privacy_policy' %}">privacy policy</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- login end -->

{% endblock main-content %}