{% load static %}

<div class="profile">
    <div class="order-pro">
        <div class="pro-img">
            <a href="javascript:void(0)"><img src="{% static 'image/pexels-rodion-kutsaiev-7911758.jpg' %}" alt="img" class="img-fluid"></a>
        </div>
        <div class="order-name">
            <h4>Andrew louise</h4>
            <span>Joined April 06, 2021</span>
        </div>
    </div>
    <div class="order-his-page">
        <ul class="profile-ul">
            {% with request.resolver_match.url_name as url_name %}
                <li class="profile-li"><a href="{% url 'order_history' %}" class=" {% if url_name == 'order_history' %} active {% endif %} "><span>Orders</span> <span class="pro-count">5</span></a></li>
                <li class="profile-li"><a href="{% url 'dashboard' %}" class=" {% if url_name == 'dashboard' %} active {% endif %} ">Profile</a></li>
                <li class="profile-li"><a href="{% url 'address' %}" class=" {% if url_name == 'address' %} active {% endif %} ">Address</a></li>
                <li class="profile-li"><a href="{% url 'wishlist' %}" class=" {% if url_name == 'wishlist' %} active {% endif %} "><span>Wishlist</span> <span class="pro-count">{{ wishlist_item_count }}</span></a></li>
                <li class="profile-li"><a href="{% url 'support_tickets' %}" class=" {% if url_name == 'support_tickets' %} active {% endif %} "><span>My tickets</span> <span class="pro-count">4</span></a></li>
            {% endwith %}
        </ul>
    </div>
</div>