{% extends 'base.html' %}
{% load static %}

{% block imports %}
    <link rel="stylesheet" type="text/css" href="css/chosen-register.css">
    <link rel="stylesheet" type="text/css" href="css/register-responsive.css">
{% endblock imports %}

{% block main-content %}
    <!-- breadcrumb start -->
    <section class="about-breadcrumb">
        <div class="about-back section-tb-padding" style="background-image: url({% static 'image/about-image.jpg' %})">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="about-l">
                            <ul class="about-link">
                                <li class="go-home"><a href="index1.html">Home</a></li>
                                <li class="about-p"><span>Register</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->
    <!-- login start -->
    <section class="section-tb-padding">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="register-area">
                        <div class="register-box">
                            <h1>Create Account</h1>
                            <p>Please create an account by submitting the form with the correct details</p>
                            <form>
                                <input type="text" name="name" placeholder="First name">
                                <input type="text" name="l-name" placeholder="Last name">
                                <input type="text" name="email" placeholder="Email">
                                <input type="text" name="password" placeholder="Password">
                                <input type="text" name="password-2" placeholder="Confirm Password">
                                <a href="account.html" class="btn-style1">Create Account</a>
                            </form>
                        </div>
                        <div class="register-account">
                            <h4>Already an account holder?</h4>
                            <a href="login.html" class="ceate-a">Log In</a>
                            <div class="register-info">
                                <a href="terms-conditions.html" class="terms-link"><span>*</span> Terms & conditions.</a>
                                <p>Your privacy and security are important to us. For more information on how we use your data read our <a href="privacy-policy.html">privacy policy</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- login end -->

{% endblock main-content %}