{% load static %}

<div class="sidenav canvas-sidebar bg-white">
    <div class="canvas-overlay">
    </div>
    <div class="pt-5 pb-7 card border-0 h-100">
        <div class="d-flex align-items-center card-header border-0 py-0 pl-8 pr-7 mb-9 bg-transparent">
            <a href="index.html" class="d-block w-179px">
                <img class="shoppa-logo" src="{% static 'logos/logo 2.png' %}" alt="Shoppa">
            </a>
            <span class="canvas-close d-inline-block text-right fs-24 ml-auto lh-1 text-primary"><i
                    class="fal fa-times"></i></span>
        </div>
        <div class="overflow-y-auto pb-6 pl-8 pr-7 card-body pt-0">
            <ul class="navbar-nav main-menu px-0 ">
                <li aria-haspopup="true" aria-expanded="false" class="nav-item dropdown py-1 px-0">
                    <a class="nav-link p-0" href="index.html" data-toggle="dropdown">Home</a>
                </li>
                <li aria-haspopup="true" aria-expanded="false" class="nav-item dropdown py-1 px-0">
                    <a class="nav-link dropdown-toggle p-0" href="store.html" data-toggle="dropdown">
                        Shop
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pt-3 pb-0 pb-xl-3 x-animated x-fadeInUp">
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="home-01.html">
                                Category 01
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="home-02.html">
                                Category 02
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="home-03.html">
                                Category 03
                            </a>
                        </li>
                        <li class="dropdown-item active">
                            <a class="dropdown-link" href="home-04.html">
                                Category 04
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="home-05.html">
                                Category 05
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="home-06.html">
                                Category 06
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="home-07.html">
                                Category 07
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="home-08.html">
                                Category 08
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="home-09.html">
                                Category 09
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="home-10.html">
                                Category 10
                            </a>
                        </li>
                    </ul>
                </li>
                <li aria-haspopup="true" aria-expanded="false" class="nav-item dropdown py-1 px-0">
                    <a class="nav-link p-0" href="index.html" data-toggle="dropdown">Account</a>
                </li>
                <li aria-haspopup="true" aria-expanded="false" class="nav-item dropdown py-1 px-0">
                    <a class="nav-link p-0" href="index.html" data-toggle="dropdown">Wishlist</a>
                </li>
                <li aria-haspopup="true" aria-expanded="false" class="nav-item dropdown py-1 px-0">
                    <a class="nav-link p-0" href="index.html" data-toggle="dropdown">Cart</a>
                </li>
                <li aria-haspopup="true" aria-expanded="false" class="nav-item dropdown py-1 px-0">
                    <a class="nav-link dropdown-toggle p-0" href="#" data-toggle="dropdown">
                        Contact
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pt-3 pb-0 pb-xl-3 x-animated x-fadeInUp">
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="about-us-01.html">
                                About Us 01
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="about-us-02.html">
                                About Us 02
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="contact-01.html">
                                Contact Us 01
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="contact-02.html">
                                Contact Us 02
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="faqs.html">
                                FAQs
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="find-a-store.html">
                                Store
                            </a>
                        </li>
                    </ul>
                </li>
                <li aria-haspopup="true" aria-expanded="false" class="nav-item dropdown py-1 px-0">
                    <a class="nav-link dropdown-toggle p-0" href="#" data-toggle="dropdown">
                        Blog
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pt-3 pb-0 pb-xl-3 x-animated x-fadeInUp">
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="blog-grid.html">
                                Blog Grid
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="blog-grid-sidebar.html">
                                Blog Grid Sidebar
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="blog-masonry.html">
                                Blog Masonsy
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="blog-list.html">
                                Blog List
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="blog-classic.html">
                                Blog Classic
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="blog-detail-01.html">
                                Blog Detail 01
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="blog-detail-02.html">
                                Blog Detail 02
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="card-footer bg-transparent border-0 mt-auto pl-8 pr-7 pb-0 pt-4">
            <ul class="list-inline d-flex align-items-center mb-3">
                <li class="list-inline-item mr-4"><a href="#" class="fs-20 lh-1"><i
                            class="fab fa-facebook-f"></i></a></li>
                <li class="list-inline-item mr-4"><a href="#" class="fs-20 lh-1"><i
                            class="fab fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="fs-20 lh-1"><i class="fab fa-twitter"></i></a></li>
            </ul>
            <p class="mb-0 text-gray">
                © 2022 Shoppa.<br> All rights reserved.
            </p>
        </div>
    </div>
</div>