{% extends 'base.html' %}
{% load static %}
{% load products_display %}

{% block page-title %}Home{% endblock page-title %}

{% block main-content %}
    <section class="home-slider-2" style="margin-top: 20px">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- Let each link in this section lead to a page with the results grouped according to the value i.e. the ram page for laptops should lead to a page showing all the laptops with their rams (common rams) grouped into 4gb, 8gb and so on with 2 by 2 row sliders to display the products for each group -->
                    <div class="menu-slider">
                        <div class="vegamenu-content">
                            <a href="#vega-menu" data-bs-toggle="collapse" class="vegamenu-title">
                                <span class="menu-icon"><i class="ion-navicon"></i></span>
                                <span class="menu-cat-title">Browse category</span>
                                <span class="menu-down-icon"><i class="ion-ios-arrow-down"></i></span>
                            </a>
                            <div class="main-wrap collapse" id="vega-menu">
                                <ul class="vega-menu">
                                    <li class="menu-link parent">
                                        <a href="javascript:void(0)" class="link-title">
                                            {% comment %} <img src="{% static 'image/menu-img/image01.jpg' %}" alt="menu-image"> {% endcomment %}
                                            <i class="fa fa-laptop brand-color w-25px undo-rotate"></i>
                                            <span>Laptops</span>
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <a href="#fresh-fruits" data-bs-toggle="collapse" class="left-mega-menu-xl">
                                            {% comment %} <img src="{% static 'image/menu-img/image01.jpg' %}" alt="menu-image"> {% endcomment %}
                                            <i class="fa fa-laptop brand-color w-25px undo-rotate"></i>
                                            <span>Laptops</span>
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-submenu collapse" id="fresh-fruits">
                                            <li class="submenu-li parant">
                                                <h6>Manufacturers</h6>
                                                <a href="#left-menu-b" data-bs-toggle="collapse" class="left-mega-menu-xl">
                                                    <span>Manufacturers</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <ul class="submenu-megamenu-link collapse" id="left-menu-b">
                                                    <li><a href="{% url 'field_products' 'laptops' 'manufacturer' 'predator' %}">Predator</a></li>
                                                    <li><a href="{% url 'field_products' 'laptops' 'manufacturer' 'apple' %}">Apple</a></li>
                                                    <li><a href="{% url 'field_products' 'laptops' 'manufacturer' 'microsoft' %}">Microsoft</a></li>
                                                    <li><a href="{% url 'field_products' 'laptops' 'manufacturer' 'hewlett-packard' %}">Hewlett-Packard</a></li>
                                                    <li><a href="{% url 'field_products' 'laptops' 'manufacturer' 'dell' %}">Dell</a></li>
                                                    <li><a href="{% url 'field_products' 'laptops' 'manufacturer' 'lenovo' %}">Lenovo</a></li>
                                                </ul>
                                            </li>
                                            <li class="submenu-li parant">
                                                <h6>Features</h6>
                                                <a href="#left-menu-c" data-bs-toggle="collapse" class="left-mega-menu-xl">
                                                    <span>Features</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <ul class="submenu-megamenu-link collapse" id="left-menu-c">
                                                    <li><a href="#">RAM</a></li>
                                                    <li><a href="#">Storage Size</a></li>
                                                    <li><a href="#">Resolution</a></li>
                                                    <li><a href="#">Graphics Card</a></li>
                                                    <li><a href="#">HDD</a></li>
                                                    <li><a href="#">SSD</a></li>
                                                </ul>
                                            </li>
                                            <li class="left-menu-link left-menu-image">
                                                <img src="{% static '/menu-img/drop-image.jpg' %}" alt="drop-image">
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-link parent">
                                        <a href="javascript:void(0)" class="link-title">
                                            {% comment %} <img src="{% static 'image/menu-img/image02.jpg' %}" alt="menu-image"> {% endcomment %}
                                            <i class="fa fa-phone-square brand-color w-25px undo-rotate"></i>
                                            <span>Phones</span>
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <a href="#fresh-fruits1" data-bs-toggle="collapse" class="left-mega-menu-xl">
                                            {% comment %} <img src="{% static 'image/menu-img/image02.jpg' %}" alt="menu-image"> {% endcomment %}
                                            <i class="fa fa-phone-square brand-color w-25px undo-rotate"></i>
                                            <span>Phones</span>
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-submenu collapse" id="fresh-fruits1">
                                            <li class="submenu-li parant">
                                                <h6>Manufacturers</h6>
                                                <a href="#left-menu-b1" data-bs-toggle="collapse" class="left-mega-menu-xl">
                                                    <span>Manufacturers</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <ul class="submenu-megamenu-link collapse" id="left-menu-b1">
                                                    <li><a href="{% url 'field_products' 'phones' 'manufacturer' 'infinix' %}">Infinix</a></li>
                                                    <li><a href="{% url 'field_products' 'phones' 'manufacturer' 'tecno' %}">Tecno</a></li>
                                                    <li><a href="{% url 'field_products' 'phones' 'manufacturer' 'samsung' %}">Samsung</a></li>
                                                    <li><a href="{% url 'field_products' 'phones' 'manufacturer' 'apple' %}">Apple</a></li>
                                                    <li><a href="{% url 'field_products' 'phones' 'manufacturer' 'vivo' %}">Vivo</a></li>
                                                    <li><a href="{% url 'field_products' 'phones' 'manufacturer' 'oppo' %}">Oppo</a></li>
                                                </ul>
                                            </li>
                                            <li class="submenu-li parant">
                                                <h6>Specifications</h6>
                                                <a href="#left-menu-c1" data-bs-toggle="collapse" class="left-mega-menu-xl">
                                                    <span>Specifications</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <ul class="submenu-megamenu-link collapse" id="left-menu-c1">
                                                    <li><a href="#">RAM</a></li>
                                                    <li><a href="#">Storage</a></li>
                                                    <li><a href="#">Processor</a></li>
                                                    <li><a href="#">Camera Quality</a></li>
                                                    <li><a href="#">Price</a></li>
                                                    <li><a href="#">Year Released</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-link parent">
                                        <a href="javascript:void(0)" class="link-title">
                                            {% comment %} <img src="{% static 'image/menu-img/image03.jpg' %}" alt="menu-image"> {% endcomment %}
                                            <i class="fa fa-gamepad brand-color w-25px undo-rotate"></i>
                                            <span>Games</span>
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <a href="#fresh-fruits2" data-bs-toggle="collapse" class="left-mega-menu-xl">
                                            {% comment %} <img src="{% static 'image/menu-img/image01.jpg' %}" alt="menu-image"> {% endcomment %}
                                            <i class="fa fa-gamepad brand-color w-25px undo-rotate"></i>
                                            <span>Games</span>
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-submenu collapse" id="fresh-fruits2">
                                            <li class="submenu-li parant">
                                                <h6>Publishers</h6>
                                                <a href="#left-menu-b2" data-bs-toggle="collapse" class="left-mega-menu-xl">
                                                    <span>Publishers</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <ul class="submenu-megamenu-link collapse" id="left-menu-b2">
                                                    <li><a href="{% url 'game-franchise' 'ubisoft' %}">Ubisoft</a></li>
                                                    <li><a href="{% url 'game-franchise' 'rockstar' %}">Rockstar</a></li>
                                                    <li><a href="{% url 'game-franchise' 'bungee' %}">Bungee</a></li>
                                                    <li><a href="{% url 'game-franchise' 'fresh' %}">Fresh chicken</a></li>
                                                    <li><a href="{% url 'game-franchise' 'frozen' %}">Frozen chicken</a></li>
                                                    <li><a href="{% url 'game-franchise' 'turkey' %}">Turkey</a></li>
                                                </ul>
                                            </li>
                                            <li class="submenu-li parant">
                                                <h6>Popular</h6>
                                                <a href="#left-menu-c3" data-bs-toggle="collapse" class="left-mega-menu-xl">
                                                    <span>Popular</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <ul class="submenu-megamenu-link collapse" id="left-menu-c3">
                                                    <li><a href="{% url 'game-franchise' 'halo' %}">Halo</a></li>
                                                    <li><a href="{% url 'game-franchise' 'just-cause' %}">Just Cause</a></li>
                                                    <li><a href="{% url 'game-franchise' 'assassin-creed' %}">Assassin's Creed</a></li>
                                                    <li><a href="{% url 'game-franchise' 'grand-theft-auto' %}">Grand Theft Auto</a></li>
                                                    <li><a href="{% url 'game-franchise' 'far-cry' %}">Far Cry</a></li>
                                                    <li><a href="{% url 'game-franchise' 'hitman' %}">Hitman</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-link parent">
                                        <a href="javascript:void(0)" class="link-title">
                                            <img src="{% static 'image/menu-img/image04.jpg' %}" alt="menu-image">
                                            <span>Featured Products</span>
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <a href="#fresh-fruits3" data-bs-toggle="collapse" class="left-mega-menu-xl">
                                            <img src="{% static 'image/menu-img/image01.jpg' %}" alt="menu-image">
                                            <span>Featured Products</span>
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-submenu collapse" id="fresh-fruits3">
                                            <li class="submenu-li parant">
                                                <h6>Featured</h6>
                                                <a href="#left-menu-b3" data-bs-toggle="collapse" class="left-mega-menu-xl">
                                                    <span>Featured</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <ul class="submenu-megamenu-link collapse" id="left-menu-b3">
                                                    <li class="left-menu-link"><a href="{{ home_featured_1.get_absolute_url }}">Samsung S27 Pro</a></li>
                                                    <li class="left-menu-link"><a href="{{ home_featured_2.get_absolute_url }}">Lenovo A21</a></li>
                                                    <li class="left-menu-link"><a href="{{ home_featured_3.get_absolute_url }}">Infinix Hot 19</a></li>
                                                    <li class="left-menu-link"><a href="{{ home_featured_4.get_absolute_url }}">Oraimo Super Bank</a></li>
                                                    <li class="left-menu-link"><a href="{{ home_featured_5.get_absolute_url }}">iPhone 42 Max</a></li>
                                                    <li class="left-menu-link"><a href="{{ home_featured_6.get_absolute_url }}">Adventure of Gabon Pro Edition</a></li>
                                                    <li class="left-menu-link"><a href="{{ home_featured_7.get_absolute_url }}">Grand Theft Auto 6</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-link">
                                        <a href="{% url 'field_products' 'phones' 'manufacturer' 'samsung' %}" class="link-title">
                                            <img src="{% static 'image/menu-img/image05.jpg' %}" alt="manu-image">
                                            <span>Samsung Products</span>
                                        </a>
                                    </li>
                                    <li class="menu-link">
                                        <a href="{% url 'field_products' 'phones' 'manufacturer' 'apple' %}" class="link-title">
                                            {% comment %} <img src="{% static 'image/menu-img/image06.jpg' %}" alt="manu-image"> {% endcomment %}
                                            <i class="fa fa-apple brand-color w-25px undo-rotate"></i>
                                            <span>Apple Products</span>
                                        </a>
                                    </li>
                                    <li class="menu-link">
                                        <a href="#" class="link-title">
                                            <img src="{% static 'image/menu-img/image07.jpg' %}" alt="manu-image">
                                            <span>Refurbished Devices</span>
                                        </a>
                                    </li>
                                    <li class="menu-link">
                                        <a href="#" class="link-title">
                                            <img src="{% static 'image/menu-img/image08.jpg' %}" alt="manu-image">
                                            <span>Monthly Sale</span>
                                        </a>
                                    </li>
                                    <li class="menu-link">
                                        <a href="{% url 'field_products' 'phones' 'manufacturer' 'samsung' %}" class="link-title">
                                            <img src="{% static 'image/menu-img/image01.jpg' %}" alt="manu-image">
                                            <span>Free Games</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="home-slider-2">
                            <div class="home-slider2 owl-carousel owl-theme">
                                <div class="items">
                                    <div class="img-back" style="background-image:url({% static 'image/banners/banner-1.webp' %});">
                                        <div class="slide-c-1 h-s-content">
                                            <span>The Best Laptops</span>
                                            <h1>Affordable Tech<br>For All</h1>
                                            <a href="{% url 'category' 'laptops' %}" class="btn btn-style1">Shop now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="items">
                                    <div class="img-back" style="background-image:url({% static 'image/banners/image-2.jpg' %});">
                                        <div class="slide-c-1 h-s-content">
                                            <span>Quality Phones</span>
                                            <h1>Wide Range of<br>Mobile Devices</h1>
                                            <a href="{% url 'category' 'phones' %}" class="btn btn-style1">View collection</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="items third-slide">
                                    <div class="img-back" style="background-image:url({% static 'image/banners/aw_dcr_campaign_fy22_homepage_mod5_07.webp' %});">
                                        <div class="slide-c-1 h-s-content">
                                            <span>Premium Games!</span>
                                            <h1 style="width: max-content">Great Games,<br>For Great Gamers</h1>
                                            <a href="{% url 'category' 'games' %}" class="btn btn-style1">Shop now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-tb-padding grid-banner">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="organic-food-fresh-banner">
                        <div class="offer-banner game-banner">
                            <a href="{% url 'custom-groups' 'discounted' %}" class="banner-hover">
                                <img src="{% static 'image/banners/lenovo-campaign-legion-brand-agnostic-hero.jpg' %}" alt="offer-banner" class="img-fluid" style="object-fit: cover">
                            </a>
                            <div class="banner-content">
                                <span>Great Discounts</span>
                                <h2>Discounted <br> Products</h2>
                                <a href="{% url 'custom-groups' 'discounted' %}">View Discounts</a>
                            </div>
                        </div>
                        <div class="offer-banner">
                            <a href="{% url 'custom-groups' 'monthly_sale' %}" class="banner-hover">
                                <img src="{% static 'image/banners/phone-banner.jpg' %}" alt="offer-banner" class="img-fluid">
                            </a>
                            <div class="banner-content">
                                <span>Monthly Sale</span>
                                <h2>Grab These <br>Early</h2>
                                <a href="{% url 'custom-groups' 'monthly_sale' %}">View Sale</a>
                            </div>
                        </div>
                        <div class="offer-banner game-banner">
                            <a href="{% url 'custom-groups' 'seasonal_games' %}" class="banner-hover">
                                <img src="{% static 'image/home-game.jpeg' %}" alt="offer-banner" class="img-fluid">
                            </a>
                            <div class="banner-content">
                                <span>Seasonal Games</span>
                                <h2>Games of the <br>season </h2>
                                <a href="{% url 'custom-groups' 'seasonal_games' %}">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="service">
                        <div class="service-box">
                            <div class="s-box">
                                <i class="ti-truck"></i>
                                <div class="service-content">
                                    <span>Fast and Safe Delivery</span>
                                    <p>Orders from all item</p>
                                </div>
                            </div>
                        </div>
                        <div class="service-box">
                            <div class="s-box">
                                <i class="ti-money"></i>
                                <div class="service-content">
                                    <span>Assurance of Quality</span>
                                    <p>Get what you see</p>
                                </div>
                            </div>
                        </div>
                        <div class="service-box">
                            <div class="s-box">
                                <i class="ti-headphone"></i>
                                <div class="service-content">
                                    <span>Quality support</span>
                                    <p>Alway online 24/7</p>
                                </div>
                            </div>
                        </div>
                        <div class="service-box">
                            <div class="s-box">
                                <i class="ti-email"></i>
                                <div class="service-content">
                                    <span>Join our newsletter</span>
                                    <p>Get a coupon by subscribing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="featured-product section-tb-padding">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-title3">
                        <h2><span>Featured Products</span></h2>
                    </div>
                    {% product_slider featured_products %}
                </div>
            </div>
        </div>
    </section>

    <section class="featured-product">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-title3">
                        <h2><span>Discounts For You</span></h2>
                    </div>
                    {% product_slider discounted_products %}
                </div>
            </div>
        </div>
    </section>

    <!-- Duplicate above section here:NO -->

    <section class="section-tb-padding home2-category">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-title3">
                        <h2><span>Shop By Manufacturer</span></h2>
                    </div>
                    <div class="home2-cate-image owl-carousel owl-theme">
                        <div class="items">
                            <div class="cate-image">
                                <a href="{% url 'field_products' 'phones' 'manufacturer' 'samsung' %}">
                                    <img src="{% static 'image/brands/samsung-3.webp' %}" class="img-fluid" alt="cate-image">
                                    <span>Samsung</span>
                                </a>
                            </div>
                        </div>
                        <div class="items">
                            <div class="cate-image">
                                <a href="{% url 'field_products' 'phones' 'manufacturer' 'vivo' %}">
                                    <img src="{% static 'image/brands/vivo-1.svg' %}" class="img-fluid" alt="cate-image">
                                    <span>Vivo</span>
                                </a>
                            </div>
                        </div>
                        <div class="items">
                            <div class="cate-image">
                                <a href="{% url 'field_products' 'phones' 'manufacturer' 'apple' %}">
                                    <img src="{% static 'image/brands/apple.png' %}" class="img-fluid" alt="cate-image">
                                    <span>Apple</span>
                                </a>
                            </div>
                        </div>
                        <div class="items">
                            <div class="cate-image">
                                <a href="{% url 'field_products' 'phones' 'manufacturer' 'tecno' %}">
                                    <img src="{% static 'image/brands/tecno.svg' %}" class="img-fluid" alt="cate-image">
                                    <span>Tecno</span>
                                </a>
                            </div>
                        </div>
                        <div class="items">
                            <div class="cate-image">
                                <a href="{% url 'field_products' 'phones' 'manufacturer' 'infinix' %}">
                                    <img src="{% static 'image/brands/infinix.png' %}" class="img-fluid" alt="cate-image">
                                    <span>Infinix</span>
                                </a>
                            </div>
                        </div>
                        <div class="items">
                            <div class="cate-image">
                                <a href="{% url 'field_products' 'phones' 'manufacturer' 'oraimo' %}">
                                    <img src="{% static 'image/brands/oraimo-1.png' %}" class="img-fluid" alt="cate-image">
                                    <span>Oraimo</span>
                                </a>
                            </div>
                        </div>
                        <div class="items">
                            <div class="cate-image">
                                <a href="{% url 'field_products' 'phones' 'manufacturer' 'hp' %}">
                                    <img src="{% static 'image/brands/hp.png' %}" class="img-fluid" alt="cate-image">
                                    <span>HP</span>
                                </a>
                            </div>
                        </div>
                        <div class="items">
                            <div class="cate-image">
                                <a href="{% url 'field_products' 'phones' 'manufacturer' 'lenovo' %}">
                                    <img src="{% static 'image/brands/lenovo-2.png' %}" class="img-fluid" alt="cate-image">
                                    <span>Lenovo</span>
                                </a>
                            </div>
                        </div>
                        <div class="items">
                            <div class="cate-image">
                                <a href="{% url 'field_products' 'phones' 'manufacturer' 'dell' %}">
                                    <img src="{% static 'image/brands/dell.png' %}" class="img-fluid" alt="cate-image">
                                    <span>Dell</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-tb-padding home-games">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="our-tab">
                        <div class="section-title3">
                            <h2>All Kinds of Games, For You</h2>
                        </div>
                        <div class="tab-content tab-pro-slider">
                            <div class="tab-pane fade show active" id="home">
                                <div class="our-products-tab swiper-container">
                                    <div class="swiper-wrapper">
                                        {% for game in popular_games %}
                                            <div class="swiper-slide">
                                                <div class="tab-product">
                                                    <div class="tred-pro">
                                                        <div class="tr-pro-img">
                                                            <a href="{{ game.get_absolute_url }}">
                                                                <img src="{{ game.image.url }}" alt="pro-img1" class="img-fluid">
                                                                <img src="{{ game.image.url }}" alt="additional image" class="img-fluid additional-image">
                                                            </a>
                                                        </div>
                                                        {% if game.percent_off > 0 %}
                                                            <div class="Pro-lable">
                                                                <span class="p-discount">-{{game.percent_off}}%</span>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="tab-caption">
                                                        <h3><a href="{{ game.get_absolute_url }}">{{ game.name }}</a></h3>
                                                        <div class="rating">
                                                            <i class="fa fa-star e-star"></i>
                                                            <i class="fa fa-star e-star"></i>
                                                            <i class="fa fa-star e-star"></i>
                                                            <i class="fa fa-star e-star"></i>
                                                            <i class="fa fa-star e-star"></i>
                                                        </div>
                                                        <div class="pro-price">
                                                            <span class=    "new-price">{{ game.price }} NGN</span>
                                                            {% if game.previous_price > 0 %}
                                                                <span class="old-price"><del>{{ game.previous_price }} NGN</del></span>
                                                            {% endif %}
                                                        </div>
                                                        <form method="post" class="pro-icn">
                                                            {% csrf_token %}
                                                            <button name="add_to_wishlist" value="{{ game.id }}" class="w-c-q-icn"><i class="fa fa-heart"></i></button>
                                                            <button name="add_to_cart" value="{{ game.id }}" class="w-c-q-icn"><i class="fa fa-shopping-bag"></i></button>
                                                            {% comment %} <a href="javascript:void(0)"  class="w-c-q-icn" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-eye"></i></a> {% endcomment %}
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="swiper-buttons">
                                    <div class="content-buttons">
                                        <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                                        <div class="swiper-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonial-6 section-tb-padding">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-title3">
                        <h2><span>What Our Customers Say</span></h2>
                    </div>
                    <div class="testi-6 owl-carousel owl-theme">
                        <div class="items">
                            <div class="testimonial-content">
                                <div class="testimonial-area">
                                    <div class="testi-name">
                                        <span class="tsti-title">By Quant</span>
                                        <span>
                                            <i class="fa fa-star e-star"></i>
                                            <i class="fa fa-star e-star"></i>
                                            <i class="fa fa-star e-star"></i>
                                            <i class="fa fa-star e-star"></i>
                                            <i class="fa fa-star e-s    tar"></i>
                                        </span>
                                    </div>
                                </div>
                                <p>“ I love this store. Their products are highly affordable, plus they're easy to patronize and very efficient return system. Unlike other stores, they don't hike or manipulate prices to trick their customers. “</p>
                                <h6>Affordable</h6>
                            </div>
                        </div>
                        <div class="items">
                            <div class="testimonial-content">
                                <div class="testimonial-area">
                                    <div class="testi-name">
                                        <span class="tsti-title">By Dembele</span>
                                        <span>
                                            <i class="fa fa-star e-star"></i>
                                            <i class="fa fa-star e-star"></i>
                                            <i class="fa fa-star e-star"></i>
                                            <i class="fa fa-star e-star"></i>
                                        </span>
                                    </div>
                                </div>
                                <p>“ My favorite thing about this store is the games. All the games I've bought from this store never gave me problems while installing. “</p>
                                <h6>Ease of Install</h6>
                            </div>
                        </div>
                        <div class="items">
                            <div class="testimonial-content">
                                <div class="testimonial-area">
                                    <div class="testi-name">
                                        <span class="tsti-title">By Veran</span>
                                        <span>
                                            <i class="fa fa-star e-star"></i>
                                            <i class="fa fa-star e-star"></i>
                                            <i class="fa fa-star e-star"></i>
                                            <i class="fa fa-star e-star"></i>
                                            <i class="fa fa-star e-star"></i>
                                        </span>
                                    </div>
                                </div>
                                <p>“ I bought my first ever laptop from shoppa and I have never regretted it since then. It has all the specs listed on the site, and it was in perfect condition as they said. “</p>
                                <h6>Trustworthy Devices</h6>
                            </div>
                        </div>
                        <div class="items">
                            <div class="testimonial-content">
                                <div class="testimonial-area">
                                    <div class="testi-name">
                                        <span class="tsti-title">By Harkah</span>
                                        <span>
                                            <i class="fa fa-star e-star"></i>
                                            <i class="fa fa-star e-star"></i>
                                            <i class="fa fa-star e-star"></i>
                                        </span>
                                    </div>
                                </div>
                                <p>“ I didn't have to wait too long to get the phone I ordered. I got my device in perfect condition without the long wait that I had to go through in other online stores “</p>
                                <h6>Top-Notch Delivery</h6>
                            </div>
                        </div>
                        <div class="items">
                            <div class="testimonial-content">
                                <div class="testimonial-area">
                                    <div class="testi-name">
                                        <span class="tsti-title">By Anesthesia</span>
                                        <span>
                                            <i class="fa fa-star e-star"></i>
                                            <i class="fa fa-star e-star"></i>
                                            <i class="fa fa-star e-star"></i>
                                            <i class="fa fa-star e-star"></i>
                                        </span>
                                    </div>
                                </div>
                                <p>“ Their support team is the best I've been attended by. They have excellent response times, are very professional and helpful too. “</p>
                                <h6>Help</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="featured-product section-tb-padding">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-title3">
                        <h2><span>Affordable Laptops and Desktops For All</span></h2>
                    </div>
                    {% product_slider affordable_laptops %}
                </div>
            </div>
        </div>
    </section>

    <section class="featured-product">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-title3">
                        <h2><span>The Trending Devices of the Season</span></h2>
                    </div>
                    {% product_slider popular_phones %}
                </div>
            </div>
        </div>
    </section>

    <section class="section-tb-padding home8-blog">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-capture">
                        <div class="section-title">
                            <h2>Recent news</h2>
                        </div>
                    </div>
                    <div class="blog-home10 owl-carousel owl-theme">
                        <div class="items">
                            <div class="blog-start">
                                <div class="blog-image">
                                    <a href="#">
                                        <img src="{% static 'image/banners/depositphotos_173411078-stock-photo-black-rotated-smartphones-similar-to.jpg' %}" alt="blog-image" class="img-fluid">
                                    </a>
                                    <div class="blog-date">
                                        <span>Jan 2022</span>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-title">
                                        <h6><a href="#">The latest phones, the latest gadgets, the latest devices</a></h6>
                                    </div>
                                    <p class="blog-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. aenean commodo ligula eget dolor...</p>
                                    <a href="#" class="read-link">
                                        <span>Read more</span>
                                        <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="items">
                            <div class="blog-start">
                                <div class="blog-image">
                                    <a href="#">
                                        <img src="{% static 'image/banners/africa-en-feature-galaxy-a53-5g-a536-531705323.webp' %}" alt="blog-image" class="img-fluid">
                                    </a>
                                    <div class="blog-date">
                                        <span>Jan 2022</span>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-title">
                                        <h6><a href="#">The art of wallpaper and UI design for beginners</a></h6>
                                    </div>
                                    <p class="blog-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor...</p>
                                    <a href="#" class="read-link">
                                        <span>Read more</span>
                                        <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="items">
                            <div class="blog-start">
                                <div class="blog-image">
                                    <a href="#">
                                        <img src="{% static 'image/banners/joshua-woroniecki-lzh3hPtJz9c-unsplash.jpg' %}" alt="blog-image" class="img-fluid">
                                    </a>
                                    <div class="blog-date">
                                        <span>Jan 2022</span>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-title">
                                        <h6><a href="#">How to install a DLC on Macbook Pro</a></h6>
                                    </div>
                                    <p class="blog-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor...</p>
                                    <a href="#" class="read-link">
                                        <span>Read more</span>
                                        <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="items">
                            <div class="blog-start">
                                <div class="blog-image">
                                    <a href="blog-style-1-details.html">
                                        <img src="{% static 'image/home-10/blog-4.jpg' %}" alt="blog-image" class="img-fluid">
                                    </a>
                                    <div class="blog-date">
                                        <span>Jan 2022</span>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-title">
                                        <h6><a href="blog-style-1-details.html">Health and skin for your organic</a></h6>
                                    </div>
                                    <p class="blog-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor...</p>
                                    <a href="blog-style-1-details.html" class="read-link">
                                        <span>Read more</span>
                                        <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="items">
                            <div class="blog-start">
                                <div class="blog-image">
                                    <a href="blog-style-1-details.html">
                                        <img src="{% static 'image/home-10/blog-5.jpg' %}" alt="blog-image" class="img-fluid">
                                    </a>
                                    <div class="blog-date">
                                        <span>Jan 2022</span>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-title">
                                        <h6><a href="blog-style-1-details.html">Organic mix masala fresh & soft</a></h6>
                                    </div>
                                    <p class="blog-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor...</p>
                                    <a href="blog-style-1-details.html" class="read-link">
                                        <span>Read more</span>
                                        <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="items">
                            <div class="blog-start">
                                <div class="blog-image">
                                    <a href="blog-style-1-details.html">
                                        <img src="{% static 'image/home-10/blog-6.jpg' %}" alt="blog-image" class="img-fluid">
                                    </a>
                                    <div class="blog-date">
                                        <span>Jan 2022</span>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-title">
                                        <h6><a href="blog-style-1-details.html">Fresh organic brand and picnic</a></h6>
                                    </div>
                                    <p class="blog-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor...</p>
                                    <a href="blog-style-1-details.html" class="read-link">
                                        <span>Read more</span>
                                        <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-tb-padding news-letter" style="background-image: url({% static 'image/banners/2019_EventAutomation_WEBBanner_NoText_EN_1000x200.webp' %});">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="news-content">
                        <h4>Get the latest deals</h4>
                        <span>And receive 8% off coupon for first shopping</span>
                        <div class="news-input">
                            <form>
                                <input type="text" name="email" placeholder="Enter Your Email Address">
                                <a href="javascript:void(0)" class="btn btn-style1">Subscribe</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main-content %}