{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="home-slider-6">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="slider-banner">
                    <div class="home-slider-main-6">
                        <div class="home6-slider owl-carousel owl-theme">
                            <div class="items">
                                <div class="img-back" style="background-image:url({% static 'image/slider15.jpg' %});">
                                    <div class="h-s-content">
                                        <span class="slider-name">Top selling!</span>
                                        <h1>Super broccoli<br> from $9.00</h1>
                                        <a href="grid-list.html" class="btn btn-style1"><span>Shop now</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="items">
                                <div class="img-back" style="background-image:url({% static 'image/slider17.jpg' %});">
                                    <div class="h-s-content">
                                        <span class="slider-name">Top selling!</span>
                                        <h1>Otas ata pasta<br> 20% off</h1>
                                        <a href="grid-list.html" class="btn btn-style1"><span>Shop now</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="items">
                                <div class="img-back" style="background-image:url({% static 'image/slider16.jpg' %});">
                                    <div class="h-s-content">
                                        <span class="slider-name">Flat lay of plate!</span>
                                        <h1>Fish and clams<br> seafoods</h1>
                                        <a href="grid-list.html" class="btn btn-style1"><span>Shop now</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top-banner">
                        <div class="right-banner">
                            <a href="grid-list.html" class="r-banner">
                                <img src="{% static 'image/banner23.jpg' %}" class="img-fluid" alt="banner-image">
                            </a>
                            <div class="banner-r-content1">
                                <span class="banner-sale">Fresh vegetable</span>
                                <h2>Veg chilli <br><span class="banner-off">start from $9</span></h2>
                                <a href="grid-list.html" class="banner-shop1">Shop now <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                        <div class="right-banner">
                            <a href="grid-list.html" class="r-banner">
                                <img src="{% static 'image/banner24.jpg' %}" class="img-fluid" alt="banner-image">
                            </a>
                            <div class="banner-r-content2">
                                <span>Fried rice</span>
                                <h2>Served with<br> chili fish sauce</h2>
                                <a href="grid-list.html" class="banner-shop2">Shop now <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-tb-padding grid-banner">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="organic-food-fresh-banner-9">
                    <div class="offer-banner">
                        <a href="product-style-2.html" class="banner-hover">
                            <img src="{% static 'image/home-9/banner-1.jpg' %}" alt="offer-banner" class="img-fluid">
                        </a>
                        <div class="banner-content">
                            <span>Fresh food</span>
                            <h2>Oraganic and fresh<br> 30% off</h2>
                            <a href="product-style-2.html" class="btn-style2">Shop now</a>
                        </div>
                    </div>
                    <div class="offer-banner">
                        <a href="product-style-2.html" class="banner-hover">
                            <img src="{% static 'image/home-9/banner-2.jpg' %}" alt="offer-banner" class="img-fluid">
                        </a>
                        <div class="banner-content">
                            <span>Organic juice</span>
                            <h2>Fresh & frosty fruit <br>grab 15% off</h2>
                            <a href="product-style-2.html" class="btn-style3">Shop now</a>
                        </div>
                    </div>
                    <div class="offer-banner">
                        <a href="product-style-2.html" class="banner-hover">
                            <img src="{% static 'image/home-9/banner-3.jpg' %}" alt="offer-banner" class="img-fluid">
                        </a>
                        <div class="banner-content">
                            <span>Fresh organic</span>
                            <h2>Healthy dry fruits <br>today 25% off </h2>
                            <a href="product-style-2.html" class="btn-style2">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-t-padding product-slider-section">
    <div class="container p-0">
        <div class="row">
            <div class="col">
                <div class="pro-tab">
                    <div class="section-title3">
                        <h2><span>Featured Products</span></h2>
                    </div>
                    <div class="tab-content tab-pro-slider">
                        <div class="tab-pane fade show active" id="home">
                            <div class="home4-tab swiper-container">
                                <div class="swiper-wrapper">
                                    {% for product in discounted_products %}
                                        <div class="swiper-slide">
                                            <div class="tab-product product-card">
                                                <div class="tred-pro">
                                                    <div class="tr-pro-img">
                                                        <a href="product-style-4.html">
                                                            {% if product.image %}<img src="{{domain}}{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid pro{{product.id}}-image product-img">{% endif %}
                                                        </a>
                                                    </div>
                                                    {% if product.percent_off > 2 %}
                                                        <div class="Pro-lable">
                                                            <span class="p-discount pro{{product.id}}-percent">-{{ product.percent_off }}%</span>
                                                        </div>
                                                    {% endif %}
                                                    <div class="pro-icn">
                                                        <a href="wishlist.html" class="w-c-q-icn"><i class="fa fa-heart"></i></a>
                                                        <a href="cart.html" class="w-c-q-icn"><i class="fa fa-shopping-bag"></i></a>
                                                        <a href="javascript:void(0)"  class="w-c-q-icn" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                                    </div>
                                                </div>
                                                <div class="tab-caption">
                                                    <h3 class="pro{{product.id}}-name product-name"><a href="product-style-4.html">{{ product.name }}</a></h3>
                                                    <div class="rating">
                                                        <i class="fa fa-star e-star"></i>
                                                        <i class="fa fa-star e-star"></i>
                                                        <i class="fa fa-star e-star"></i>
                                                        <i class="fa fa-star e-star"></i>
                                                        <i class="fa fa-star e-star"></i>
                                                    </div>
                                                    <div class="pro-price">
                                                        <span class="new-price product-price pro{{product.id}}-price">₦{{ product.price }}</span>
                                                        {% if product.previous_price > 0 %}<span class="old-price pro{{product.id}}-prevPrice product-prevPrice"><del>₦{{ product.previous_price }}</del></span>{% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="swiper-buttons">
                                <div class="content-buttons">
                                    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                                    <div class="swiper-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- teb product end -->
            </div>
        </div>
    </div>
</section>

<section class="service4-section section1-t-padding">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="service">
                    <div class="service-box">
                        <div class="s-box">
                            <div class="service-img">
                                <a href="javascript:void(0)">
                                    <img src="{% static 'image/s-image1.png' %}" class="img-fluid" alt="s-image">
                                </a>
                            </div>
                            <div class="service-content">
                                <span>100% safe quality</span>
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue</p>
                            </div>
                        </div>
                    </div>
                    <div class="service-box">
                        <div class="s-box">
                            <div class="service-img">
                                <a href="javascript:void(0)">
                                    <img src="{% static 'image/s-image2.png' %}" class="img-fluid" alt="s-image">
                                </a>
                            </div>
                            <div class="service-content">
                                <span>Free home delivary.</span>
                                <p>Condimentum adipiscing vel neque dis nam parturient orci at scelerisque</p>
                            </div>
                        </div>
                    </div>
                    <div class="service-box">
                        <div class="s-box">
                            <div class="service-img">
                                <a href="javascript:void(0)">
                                    <img src="{% static 'image/s-image3.png' %}" class="img-fluid" alt="s-image">
                                </a>
                            </div>
                            <div class="service-content">
                                <span>We support 24/7</span>
                                <p>Ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-t-padding product-slider-section">
    <div class="container p-0">
        <div class="row">
            <div class="col">
                <div class="pro-tab">
                    <div class="section-title3">
                        <h2><span>Discounted Products</span></h2>
                    </div>
                    <div class="tab-content tab-pro-slider">
                        <div class="tab-pane fade show active" id="home">
                            <div class="home4-tab swiper-container">
                                <div class="swiper-wrapper">
                                    {% for product in discounted_products %}
                                        <div class="swiper-slide">
                                            <div class="tab-product product-card">
                                                <div class="tred-pro">
                                                    <div class="tr-pro-img">
                                                        <a href="product-style-4.html">
                                                            {% if product.image %}<img src="{{domain}}{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid pro{{product.id}}-image product-img">{% endif %}
                                                        </a>
                                                    </div>
                                                    {% if product.percent_off > 2 %}
                                                        <div class="Pro-lable">
                                                            <span class="p-discount pro{{product.id}}-percent">-{{ product.percent_off }}%</span>
                                                        </div>
                                                    {% endif %}
                                                    <div class="pro-icn">
                                                        <a href="wishlist.html" class="w-c-q-icn"><i class="fa fa-heart"></i></a>
                                                        <a href="cart.html" class="w-c-q-icn"><i class="fa fa-shopping-bag"></i></a>
                                                        <a href="javascript:void(0)"  class="w-c-q-icn" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                                    </div>
                                                </div>
                                                <div class="tab-caption">
                                                    <h3 class="pro{{product.id}}-name product-name"><a href="product-style-4.html">{{ product.name }}</a></h3>
                                                    <div class="rating">
                                                        <i class="fa fa-star e-star"></i>
                                                        <i class="fa fa-star e-star"></i>
                                                        <i class="fa fa-star e-star"></i>
                                                        <i class="fa fa-star e-star"></i>
                                                        <i class="fa fa-star e-star"></i>
                                                    </div>
                                                    <div class="pro-price">
                                                        <span class="new-price product-price pro{{product.id}}-price">₦{{ product.price }}</span>
                                                        {% if product.previous_price > 0 %}<span class="old-price pro{{product.id}}-prevPrice product-prevPrice"><del>₦{{ product.previous_price }}</del></span>{% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="swiper-buttons">
                                <div class="content-buttons">
                                    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                                    <div class="swiper-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- teb product end -->
            </div>
        </div>
    </div>
</section>

<section class="section-tb-padding home4-grid-banner">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="organic-food-fresh-banner">
                    <div class="offer-banner banner-1">
                        <a href="product-style-4.html" class="banner-hover">
                            <img src="{% static 'image/banner17.jpg' %}" alt="offer-banner" class="img-fluid">
                        </a>
                        <div class="banner-content">
                            <span class="b-title">Set of pecan</span>
                            <h2>Pistachios, almond</h2>
                            <p>Praesent dapibus, neque id cursus ucibus, tortor.</p>
                            <a href="product-style-4.html" class="btn btn-style3"><span>Shop now</span></a>
                        </div>
                    </div>
                    <div class="offer-banner banner-2">
                        <a href="product-style-4.html" class="banner-hover">
                            <img src="{% static 'image/banner18.jpg' %}" alt="offer-banner" class="img-fluid">
                        </a>
                        <div class="banner-content">
                            <span class="b-title">Proud Of india</span>
                            <h2>Pistacho organic</h2>
                            <p>Homemade, restaurant & food delivery online food.</p>
                            <a href="product-style-4.html" class="btn btn-style3"><span>Shop now</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-b-padding home2-category">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-title">
                    <h2>Shop by category</h2>
                </div>
                <div class="home2-cate-image owl-carousel owl-theme">
                    <div class="items">
                        <div class="cate-image">
                            <a href="grid-list-2.html">
                                <img src="{% static 'image/category-image/home-2/image1.jpg' %}" class="img-fluid" alt="cate-image">
                                <span>Organic dryfruit</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="cate-image">
                            <a href="grid-list-2.html">
                                <img src="{% static 'image/category-image/home-2/image2.jpg' %}" class="img-fluid" alt="cate-image">
                                <span>Green seafood</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="cate-image">
                            <a href="grid-list-2.html">
                                <img src="{% static 'image/category-image/home-2/image3.jpg' %}" class="img-fluid" alt="cate-image">
                                <span>Organic juice</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="cate-image">
                            <a href="grid-list-2.html">
                                <img src="{% static 'image/category-image/home-2/image4.jpg' %}" class="img-fluid" alt="cate-image">
                                <span>Dairy & chesse</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="cate-image">
                            <a href="grid-list-2.html">
                                <img src="{% static 'image/category-image/home-2/image5.jpg' %}" class="img-fluid" alt="cate-image">
                                <span>Fresh vegetable</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="cate-image">
                            <a href="grid-list-2.html">
                                <img src="{% static 'image/category-image/home-2/image6.jpg' %}" class="img-fluid" alt="cate-image">
                                <span>Fresh meat</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="cate-image">
                            <a href="grid-list-2.html">
                                <img src="{% static 'image/category-image/home-2/image7.jpg' %}" class="img-fluid" alt="cate-image">
                                <span>Sea & fish</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="cate-image">
                            <a href="grid-list-2.html">
                                <img src="{% static 'image/category-image/home-2/image8.jpg' %}" class="img-fluid" alt="cate-image">
                                <span>Summer fruit</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="cate-image">
                            <a href="grid-list-2.html">
                                <img src="{% static 'image/category-image/home-2/image9.jpg' %}" class="img-fluid" alt="cate-image">
                                <span>Fresh vegetable</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}