{% extends 'base.html' %}
{% load static %}

{% block page-title %}Payment Policy{% endblock page-title %}

{% block imports %}
    <link href="{% static 'css/policies.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/policies-responsive.css' %}" type="text/css" rel="stylesheet">
{% endblock imports %}

{% block main-content %}
    <!-- breadcrumb start -->
    <section class="about-breadcrumb">
        <div class="about-back section-tb-padding" style="background-image: url(image/about-image.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="about-l">
                            <ul class="about-link">
                                <li class="go-home"><a href="index1.html">Home</a></li>
                                <li class="about-p"><span>Our Privacy policy</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->

{% endblock main-content %}