/* one199, nine91, seven67 four79 */
@media (max-width: 1599px) {
    .container-fluid,
    .container{
        padding-right: 30px;
        padding-left: 30px;
    }
}
@media (max-width: 1359px) {

}
/*=====================================
idap-pro css
======================================*/
@media (max-width: 1199px){
/* section padding css */
.section-t-padding{
    padding-top: 60px;
}
.section-b-padding{
    padding-bottom: 60px;
}
.section-tb-padding{
    padding-top: 60px;
    padding-bottom: 60px;
}
/* newslatter css */
.news-letter .news-content .news-input form {
    width: 85%;
}
/* footer css */
.f-logo ul.footer-ul li.footer-li p {
    max-width: 100%;
}
/* tab swiper button css */
.tab-pro-slider .swiper-buttons .content-buttons .swiper-button-next {
    right: -10px;
}
.tab-pro-slider .swiper-buttons .content-buttons .swiper-button-prev {
    left: -10px;
}
/* Service css */
.service{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    border: unset
}
.service .service-box{
    width: 40%;
    border: 1px dashed #dedede
    /* max-width: 331px; */
}
.service .service-box .s-box{
    width: 100%;
}
.service .service-box:last-child {
	border-right: 1px dashed #dedede;
}
/* body hidden class */
body.hidden {
    overflow-y: hidden;
    padding-right: 0px;
}
/* home-2 container css */
.home-1 .container{
    max-width: 100%;
}
/* section padding css */
.section-t-padding{
    padding-top: 80px;
}
.section-b-padding{
    padding-bottom: 80px;
}
.section-tb-padding{
    padding-top: 80px;
    padding-bottom: 80px;
}
/* section title */
.section-title h2 {
    margin-bottom: 80px;
}

/* header top css */
.header-main-area{
    padding: 8px 0;
}
.header-main-area .header-main .header-element.logo {
    width: 20%;
}
.header-main-area .header-main .header-element.megamenu-content{
    display: none;
}
.header-main-area .header-main .header-element.right-block-box {
    width: 80%;
}
.header-main-area .header-main .header-element.right-block-box ul.shop-element li.nav-toggler{
    display: block;
}
.header-main-area .header-main .header-element.right-block-box ul.shop-element li.search-wrap .search-rap a.search-popuup{
    font-size: 20px;
}
/* cart css */
.shopping-widget .shopping-cart a.cart-count span.cart-icon-wrap span.cart-icon{
    font-size: 20px;
}
.shopping-widget .shopping-cart a.cart-count span.cart-icon-wrap span.bigcounter{
    left: 10px;
}
/* header-bottom css */
.header-bottom-area{
    display: block;
}
.header-bottom-area .main-menu-area{
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    border-top: none;
}
.header-bottom-area .main-menu-area.active{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.header-bottom-area .main-menu-area,
.header-bottom-area .main-menu-area.active{
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.header-bottom-area .main-menu-area .main-navigation .navbar-collapse{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 45px;
}
.header-bottom-area .main-menu-area .main-navigation .img-hotline{
    display: none;
}
.header-bottom-area .main-menu-area .main-navigation .navbar-collapse .megamenu-content{
    width: 100%;
}
/* box-header css */
.main-menu-area .main-navigation .box-header{
    display: block;
}
/* main-menu css */
.megamenu-content .mainwrap ul.main-menu{
    flex-direction: column;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link{
    border-top: 1px solid #eee;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link a.link-title{
    display: flex;
    padding: 10px 15px;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link:first-child a.link-title {
    padding-left: 15px;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link.parent a.link-title{
    display: none;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link.parent a.link-title.link-title-lg{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link.parent a.link-title.link-title-lg,
.megamenu-content .mainwrap ul.main-menu li.menu-link.parent a.link-title.link-title-lg[aria-expanded="false"]{
    color: #222;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link.parent a.link-title.link-title-lg[aria-expanded="true"]{
    color: #7da63f;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link a.link-title::after{
    display: none;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link:last-child a.link-title:before {
    display: none;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link a.link-title i{
    margin-left: 0;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link.parent a.link-title.link-title-lg[aria-expanded="true"] i{
    transform: rotate(180deg);
}
.megamenu-content .mainwrap ul.main-menu li.menu-link a.link-title span.sp-link-title::after {
    display: none;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link a.link-title span.sp-link-title span.hot{
    top: -8px;
    right: 0;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.sub-menu.collapse:not(.show),
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.mega-menu.collapse:not(.show),
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.banner-menu.collapse:not(.show){
    display: none;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.sub-menu,
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.mega-menu,
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.banner-menu{
    padding: 0;
    position: unset;
    left: 0;
    width: 100%;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu li.submenu-li{
    margin-top: 0;
    border-top: 1px solid #eee;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu li.submenu-li a.submenu-link{
    display: block;
    padding: 10px 15px 10px 25px;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.mega-menu li.megamenu-li{
    width: 100%;
    padding: 0 0;
    border-top: 1px solid #eee;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.mega-menu li.megamenu-li h2.sublink-title{
    display: none;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.mega-menu li.megamenu-li a.sublink-title.sublink-title-lg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 10px 25px;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.mega-menu li.megamenu-li a.sublink-title.sublink-title-lg,
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.mega-menu li.megamenu-li a.sublink-title.sublink-title-lg[aria-expanded="false"]{
    color: #222;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.mega-menu li.megamenu-li a.sublink-title.sublink-title-lg[aria-expanded="true"]{
    color: #7da63f;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.mega-menu li.megamenu-li a.sublink-title.sublink-title-lg[aria-expanded="true"] i{
    transform: rotate(180deg);
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.mega-menu li.megamenu-li ul.dropdown-supmenu.collapse:not(.show){
    display: none;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.mega-menu li.megamenu-li ul.dropdown-supmenu li.supmenu-li{
    margin-top: 0;
    border-top: 1px solid #eee;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.mega-menu li.megamenu-li ul.dropdown-supmenu li.supmenu-li a{
    display: block;
    padding: 10px 15px 10px 30px;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.banner-menu li.menu-banner{
    width: 100%;
    padding: 0 0;
    border-top: 1px solid #eee;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.banner-menu li.menu-banner a.menu-banner-img{
    display: none;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.banner-menu li.menu-banner a.menu-banner-title{
    padding: 10px 15px 10px 25px;
    margin-top: 0px;
    text-align: left;
}
/* blog menu */
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.sub-menu li.submenu-li{
    padding: 0px;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.sub-menu li.submenu-li a.g-l-link{
    display: none;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.sub-menu li.submenu-li a.sub-link{
    display: block;
    padding: 10px 25px 10px 25px;
    font-weight: 400;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.sub-menu li.submenu-li a.sub-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.sub-menu li.submenu-li a.sub-link[aria-expanded="true"]{
    color: #7da63f;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.sub-menu li.submenu-li a.sub-link[aria-expanded="true"] i{
    transform: rotate(180deg);
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.sub-menu li.submenu-li ul.blog-style-1{
    position: unset;
    opacity: 1;
    visibility: visible;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.sub-menu li.submenu-li ul.blog-style-1.collapse:not(.show){
    display: none;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.sub-menu li.submenu-li ul.blog-style-1{
    width: 100%;
    padding: 0px;
    transform: unset;
    box-shadow: none;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.sub-menu li.submenu-li ul.blog-style-1 li a.blog-sub-style{
    display: block;
    padding: 10px 35px;
    border-top: 1px solid #eee;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.sub-menu li.submenu-li ul.blog-style-1 li a.blog-sub-style[aria-expanded="true"]{
    color: #7da63f;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.sub-menu li.submenu-li ul.blog-style-1 li a.blog-sub-style[aria-expanded="true"] i{
    transform: rotate(270deg);
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.sub-menu li.submenu-li ul.blog-style-1 li a.sub-style{
    display: none;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.sub-menu li.submenu-li ul.blog-style-1 li a.blog-sub-style{
    font-size: 13px;
    padding: 10px 40px;
    border-top: 1px solid #eee;
    font-weight: 400;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.sub-menu li.submenu-li ul.blog-style-1 li a i{
    font-size: 14px;
    transform: rotate(91deg);
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.sub-menu li.submenu-li ul.blog-style-1 li ul.grid-style{
    width: 100%;
    padding: 0px;
    transform: unset;
    box-shadow: none;
    position: unset;
    opacity: 1;
    visibility: visible;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.sub-menu li.submenu-li ul.blog-style-1 li ul.grid-style.collapse:not(.show){
    display: none;
}
.megamenu-content .mainwrap ul.main-menu li.menu-link ul.dropdown-submenu.sub-menu li.submenu-li ul.blog-style-1 li ul.grid-style li a{
    font-size: 13px;
    padding: 10px 50px;
    border-top: 1px solid #eee;
}
/* slider css */
.slider .home-slider .img-back{
    height: 450px;
}
.slider .home-slider .img-back .h-s-content span{
    font-size: 18px;
}
.slider .home-slider .img-back .h-s-content h1{
    font-size: 40px;
    margin-top: 7px;
}
.slider .home-slider .img-back .h-s-content a{
    margin-top: 15px;
}
/* grid banner css */
.organic-food-fresh-banner .offer-banner .banner-content {
    left: 10px;
}
.organic-food-fresh-banner .offer-banner .banner-content h2{
    font-size: 20px;
    margin-top: 6px;
}
.organic-food-fresh-banner .offer-banner .banner-content a {
    margin-top: 7px;
}
}
/*=====================================
ipad css
======================================*/
@media (max-width: 991px){
/* new letter css */
.news-letter .news-content{
    width: 60%;
}
.news-letter .news-content h4{
    font-size: 20px;
}
.news-letter .news-content .news-input form {
    width: 100%;
}
/* company detail css */
.f-logo ul.footer-ul{
    align-items: center;
    margin-top: -20px;
    margin-left: -15px;
}
.f-logo ul.footer-ul li.footer-li{
    width: calc(50% - 15px);
    margin-top: 20px;
    margin-left: 15px;
    padding-right: 0px;
}
.f-logo ul.footer-ul li.footer-li.footer-logo{
    width: calc(50% - 15px);
    margin-top: 0px;
    margin-left: 15px;
    padding-right: 0px;
}
/* footer copyright css */
.footer-copyright ul.f-bottom{
    margin-left: -15px;
    margin-top: -15px;
}
.footer-copyright ul.f-bottom li.f-c{
    width: calc(100% - 15px);
    margin-left: 15px;
    margin-top: 15px;
}
.footer-copyright ul.f-bottom li.f-payment{
    text-align: center;
}
.footer-copyright ul.f-bottom li.f-copyright{
    order: 1;
    text-align: center;
    margin-top: 10px;
}
/* tab products css */
.tab-product .tred-pro {
    width: 35%;
}
.tab-product .tab-caption {
    width: 65%;
}

/* category and featured nav css */
.home4-category .home4-cate .owl-nav button.owl-prev,
.featured-product .home4-featured .owl-nav button.owl-prev,
.home4-barnd-logo .home4-brand .owl-nav button.owl-prev{
    opacity: 1;
    visibility: visible;
}
.home4-category .home4-cate .owl-nav button.owl-prev{
    left: 0px;
}
.featured-product .home4-featured .owl-nav button.owl-prev{
    left: 12px;
}
.home4-barnd-logo .home4-brand .owl-nav button.owl-prev{
    left: 0px;
}
.home4-category .home4-cate .owl-nav button.owl-next,
.featured-product .home4-featured .owl-nav button.owl-next,
.home4-barnd-logo .home4-brand .owl-nav button.owl-next{
    opacity: 1;
    visibility: visible;
}
.home4-category .home4-cate .owl-nav button.owl-next{
    right: 0px;
}
.featured-product .home4-featured .owl-nav button.owl-next{
    right: 12px;
}
.home4-barnd-logo .home4-brand .owl-nav button.owl-next{
    right: 0px;
}
/* Service css */
.service .service-box{
    width: 50%;
    /* max-width: 331px; */
}
/* carousel button css */
.h-t-products1 .trending-products .owl-nav button.owl-prev,
.testimonial-bg1 .testi-m.owl-carousel .owl-nav button.owl-prev{
    left: -10px;
}
.h-t-products1 .trending-products .owl-nav button.owl-next,
.testimonial-bg1 .testi-m.owl-carousel .owl-nav button.owl-next{
    right: -10px;
}
/* top css */
.top-2{
    background-size: cover;
    background-position: left;
}
/* left menu css */
.home-slider-2 .menu-slider{
    display: block;
}
.vegamenu-content{
    position: relative;
    width: 100%;
    padding-right: 0px;
}
.vegamenu-content a.vegamenu-title span.menu-down-icon i{
    display: block;
}
.vegamenu-content a.vegamenu-title[aria-expanded="true"] span.menu-down-icon i {
    transform: rotate(180deg);
}
.vegamenu-content a.vegamenu-title[aria-expanded="false"] span.menu-down-icon i,
.vegamenu-content a.vegamenu-title[aria-expanded="true"] span.menu-down-icon i{
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.vegamenu-content .main-wrap{
    background-color: #fff;
    position: absolute;
    z-index: 3;
    width: 100%;
}
.vegamenu-content .main-wrap.collapse:not(.show){
    display: none;
}
.vegamenu-content .main-wrap ul.vega-menu li.parent{
    display: none;
}
.vegamenu-content .main-wrap ul.vega-menu li.menu-link{
    display: block;
}
.vegamenu-content .main-wrap ul.vega-menu li.menu-link.parent a.link-title{
    display: none;
}
.vegamenu-content .main-wrap ul.vega-menu li.menu-link a.left-mega-menu-xl{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.vegamenu-content .main-wrap ul.vega-menu li.menu-link a.left-mega-menu-xl[aria-expanded="true"]{
    color: #3c096c;
}
.vegamenu-content .main-wrap ul.vega-menu li.menu-link a.left-mega-menu-xl[aria-expanded="false"]{
    color: #222;
}
.vegamenu-content .main-wrap ul.vega-menu li.menu-link a.left-mega-menu-xl[aria-expanded="true"] i{
    transform: rotate(180deg);
}
.vegamenu-content .main-wrap ul.vega-menu li.menu-link a.left-mega-menu-xl[aria-expanded="false"] i,
.vegamenu-content .main-wrap ul.vega-menu li.menu-link a.left-mega-menu-xl[aria-expanded="true"] i{
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.vegamenu-content .main-wrap ul.vega-menu li.menu-link a.left-mega-menu-xl span{
    margin-left: 5px;
    margin-right: auto;
}
.vegamenu-content .main-wrap ul.vega-menu li.menu-link a.left-mega-menu-xl i{
    font-size: 20px;
}
.vegamenu-content .main-wrap ul.vega-menu li.menu-link ul.dropdown-submenu{
    position: unset;
    left: 0;
    width: 100%;
    padding: 0px;
    display: block;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
}
.vegamenu-content .main-wrap ul.vega-menu li.menu-link ul.dropdown-submenu.collapse:not(.show){
    display: none;
}
.vegamenu-content .main-wrap ul.vega-menu li.menu-link ul.dropdown-submenu li.left-menu-image{
    display: none;
}
.vegamenu-content .main-wrap ul.vega-menu li.menu-link ul.dropdown-submenu li.submenu-li{
    padding: 0px;
    border-top: 2px solid #3c096c;
}
.vegamenu-content .main-wrap ul.vega-menu li.menu-link ul.dropdown-submenu li.submenu-li h6{
    display: none;
}
.vegamenu-content .main-wrap ul.vega-menu li.menu-link ul.dropdown-submenu li.submenu-li ul.submenu-megamenu-link.collapse:not(.show){
    display: none;
}
.vegamenu-content .main-wrap ul.vega-menu li.menu-link ul.dropdown-submenu li.submenu-li ul.submenu-megamenu-link li{
    padding: 9px 30px;
    border-top: 2px solid #3c096c;
}
.vegamenu-content .main-wrap ul.vega-menu li.menu-link ul.dropdown-submenu li.submenu-li ul.submenu-megamenu-link{
    max-height: 129px;
    overflow: auto;
}
/* slider css */
.home-slider-2 .menu-slider .home-slider-2{
    width: calc(100% - 0px);
    margin-left: 0px;
}
.home-slider-2 .menu-slider .home-slider-2 .home-slider2 .img-back{
    height: 448px;
}
.home-slider-2 .menu-slider .home-slider-2 .home-slider2 .img-back .h-s-content{
    width: 60%;
}
.home-slider-2 .menu-slider .home-slider-2 .home-slider2 .img-back .h-s-content span{
    font-size: 17px;
    line-height: 1;
}
/* grid banner css */
.organic-food-fresh-banner {
    margin-left: -15px;
}
.organic-food-fresh-banner .offer-banner {
    width: calc(33.33% - 15px);
    margin-left: 15px;
}
.organic-food-fresh-banner .offer-banner .banner-content{
    left: 8px;
    width: 75%;
}
.organic-food-fresh-banner .offer-banner .banner-content h2{
    font-size: 16px;
    margin-top: 3px;
}
.organic-food-fresh-banner .offer-banner .banner-content a{
    margin-top: 4px;
}
}
/*=====================================
iphone css
======================================*/
@media (max-width: 767px){
    /* quick view css */
    .quick-view .modal .modal-dialog{
        max-width: 570px;
        display: flex;
        overflow: auto;
    }
    .quick-view .modal .modal-dialog .modal-content .quick-veiw-area{
        flex-direction: column;
    }
    .quick-view .modal .modal-dialog .modal-content .quick-veiw-area .quick-image{
        width: 100%;
    }
    .quick-view .modal .modal-dialog .modal-content .quick-veiw-area .quick-caption{
        width: 100%;
        margin-left: 0px;
        margin-top: 15px;
    }
    .quick-view .modal .modal-dialog .modal-content .quick-veiw-area .quick-caption h4{
        font-size: 16px;
    }
    .quick-view .modal .modal-dialog .modal-content .quick-veiw-area .quick-caption .quick-price{
        margin-top: 7px;
    }
    .quick-view .modal .modal-dialog .modal-content .quick-veiw-area .quick-caption .quick-rating{
        margin-top: 8px;
    }
    .vegist-popup .modal-dialog{
        padding: 15px;
    }
    .vegist-popup .modal-dialog .modal-content .modal-body .popup-content .pop-up-newsletter{
        padding: 30px;
    }
    /* newslatter css */
    .news-letter .news-content {
        width: 80%;
    }
    /* footer css */
    .footer-link {
        margin-top: -30px;
    }
    .footer-link .f-link {
        width: calc(50% - 30px);
        margin-top: 30px;
    }
    /* carousel button css */
    .h-t-products1 .trending-products .owl-nav button.owl-prev,
    .testimonial-bg1 .testi-m.owl-carousel .owl-nav button.owl-prev{
        left: -13px;
    }
    .h-t-products1 .trending-products .owl-nav button.owl-next,
    .testimonial-bg1 .testi-m.owl-carousel .owl-nav button.owl-next{
        right: -13px;
    }
    /* category image css */
    .home2-cate-image.owl-carousel .owl-nav button{
        opacity: 1;
        visibility: visible;
    }
    .home2-cate-image.owl-carousel .owl-nav button.owl-prev{
        left: -10px;
    }
    .home2-cate-image.owl-carousel .owl-nav button.owl-next{
        right: -10px;
    }
    .tab-product .tred-pro .Pro-lable span.p-text,
    .tab-product .tred-pro .Pro-lable span.p-discount{
        font-size: 12px;
        padding: 1px 5px 1px 12px;
    }
    .home-slider-2 .menu-slider .home-slider-2 .home-slider2 .img-back{
        height: 327px;
    }
    .home-slider-2 .menu-slider .home-slider-2 .home-slider2 .img-back .h-s-content{
        width: 80%;
    }
    .home-slider-2 .menu-slider .home-slider-2 .home-slider2 .img-back .h-s-content.slide-c-1{
        left: 5%;
    }
    .home-slider-2 .menu-slider .home-slider-2 .home-slider2 .img-back .h-s-content.slide-c-2{
        right: 5%;
    }
    .home-slider-2 .menu-slider .home-slider-2 .home-slider2 .img-back .h-s-content span{
        font-size: 17px;
        line-height: 1;
    }
    .home-slider-2 .menu-slider .home-slider-2 .home-slider2 .img-back .h-s-content h1{
        font-size: 30px;
        margin-top: 12px;
    }
    .home-slider-2 .menu-slider .home-slider-2 .home-slider2 .img-back .h-s-content a{
        margin-top: 18px;
    }
    .home-slider-2 .menu-slider .home-slider-2 .home-slider2.owl-theme .owl-nav{
        display: none;
    }
    /* grid banner */
    .organic-food-fresh-banner{
        flex-wrap: wrap;
        margin-left: -15px;
    }
    .organic-food-fresh-banner .offer-banner{
        width: calc(50% - 15px);
        margin-top: 15px;
        margin-left: 15px;
    }
    .organic-food-fresh-banner .offer-banner:first-child{
        margin-top: 0px;
        width: 100%;
    }
    .organic-food-fresh-banner .offer-banner .banner-content {
        left: 25px;
    }
    /* header css */
    .right-block-box ul.shop-element li.side-wrap.search-descktop {
        display: none;
    }
    .header-main-area .header-main .header-element.right-block-box ul.shop-element li.search-wrap {
        display: block;
    }
    .container-fluid,
    .container{
        padding-right: 15px;
        padding-left: 15px;
    }
    /* btn style css */
    .btn-style2 {
        padding: 8px 22px;
        font-size: 14px;
    }
    .btn-style3 {
        padding: 8px 22px;
    }
    /* section padding css */
    .section-t-padding{
        padding-top: 50px;
    }
    .section-b-padding{
        padding-bottom: 50px;
    }
    .section-tb-padding{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    /* section title css */
    .section-title h2{
        font-size: 20px;
        margin-bottom: 30px;
    }
    /* swiper css */
    .swiper-buttons a {
        width: 30px;
        height: 30px;
        font-size: 10px;
    }
    /* top css */
    .top-2{
        background-size: cover;
    }
    .top-2 ul.top-home li.top-home-li{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .top-2 ul.top-home li.top-home-li .currency{
        margin-left: 0px;
    }
    .top-2 ul.top-home li.top-home-li .currency:first-child{
        padding: 0px 15px;
    }
    .top-2 ul.top-home li.top-home-li.t-content{
        display: none;
    }
    /* header top css */
    .header-style-2 .header-top .top-header .top-h{
        width: 50%;
    }
    .header-style-2 .header-top .top-header .account{
        width: 50%;
    }
    .header-style-2 .header-top .top-header .account a.h-icn i{
        font-size: 20px;
    }
    .header-style-2 .header-top .top-header .account .head-icon span.counter{
        left: 11px;
    }

    /* quick view css */
    .quick-view .modal .modal-dialog{
        max-width: 570px;
        display: flex;
        overflow: auto;
    }
    .quick-view .modal .modal-dialog .modal-content .quick-veiw-area{
        flex-direction: column;
    }
    .quick-view .modal .modal-dialog .modal-content .quick-veiw-area .quick-image{
        width: 100%;
    }
    .quick-view .modal .modal-dialog .modal-content .quick-veiw-area .quick-caption{
        width: 100%;
        margin-left: 0px;
        margin-top: 15px;
    }
    .quick-view .modal .modal-dialog .modal-content .quick-veiw-area .quick-caption h4{
        font-size: 16px;
    }
    .quick-view .modal .modal-dialog .modal-content .quick-veiw-area .quick-caption .quick-price{
        margin-top: 7px;
    }
    .quick-view .modal .modal-dialog .modal-content .quick-veiw-area .quick-caption .quick-rating{
        margin-top: 8px;
    }
    /* newslatter popup css */
    .vegist-popup .modal-dialog{
        padding: 15px;
    }
    .vegist-popup .modal-dialog .modal-content .modal-body .popup-content .pop-up-newsletter{
        padding: 30px;
    }
}


/* mobie css */
@media (max-width: 479px) {
    /* news letter css */
    .news-letter .news-content{
        width: 100%;
    }
    .news-letter .news-content .news-input form a{
        position: unset;
        margin-top: 15px;
    }
    /* company detail css */
    .f-logo ul.footer-ul{
        margin-left: 0px;
    }
    .f-logo ul.footer-ul li.footer-li.footer-logo,
    .f-logo ul.footer-ul li.footer-li{
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
    }
    .f-logo ul.footer-ul li.footer-li ul.f-ul-li-ul li.footer-icon i{
        font-size: 28px;
    }
    /* footer bottom css */
    .footer-link {
        margin-top: 0px;
    }
    .footer-link .f-link{
        width: calc(100% - 15px);
        margin-top: 14px;
    }
    .footer-link .f-link:first-child{
        margin-top: 0px;
    }
    .footer-link .f-link h2.h-footer{
        display: none;
    }
    .footer-link .f-link a.h-footer{
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 14px;
        border-bottom: 1px dashed #7b7b7bee;
    }
    .footer-link .f-link a.h-footer[aria-expanded="true"] i::before{
        content: "\f106";
    }
    .footer-link .f-link .collapse:not(.show){
        display: none;
    }
    .footer-link .f-link ul.f-link-ul li.f-link-ul-li:first-child{
        margin-top: 13px;
    }
    /* slider css */
    .home-slider-2 .menu-slider .home-slider-2 .home-slider2 .img-back .h-s-content span {
        font-size: 16px;
    }
    .home-slider-2 .menu-slider .home-slider-2 .home-slider2 .img-back .h-s-content h1 {
        font-size: 26px;
        margin-top: 14px;
    }
    /* grid banner css */
    .organic-food-fresh-banner {
        margin-left: 0px;
    }
    .organic-food-fresh-banner .offer-banner {
        width: 100%;
        margin-left: 0px;
    }
    .header-main-area .header-main .header-element.logo {
        width: 40%;
    }
    .wishlist-wrap, .cart-wrap {
        display: none;
    }
    /* btn style css */
    .btn-style1 {
        padding: 8px 25px;
    }
}
@media (max-width: 320px) {
    .header-main {
        flex-direction: column;
        gap: 12px;
    }

    .top-home {
        display: none;
    }
    .home4-featured .items .tr-pro-img.default-img a img {
        height: 160px !important;
    }
}

@media (max-width: 575px) {
    .service .service-box {
        width: 100%;
        margin: 0 20px;
        border: 1px dashed #dedede;
    }

    .service {
        border: unset
    }
}

@media (max-width: 670px) {
    .tred-pro .tr-pro-img.default-img a img {
        min-height: unset;
        height: 197px;
    }
}

/* @media (max-width: 570px) {
    .tred-pro .tr-pro-img.default-img a img {
        height: 165px;
    }
}

@media (max-width: 470px) {
    .tred-pro .tr-pro-img.default-img a img {
        height: 230px;
    }
}
*/
@media (max-width: 370px) {
    .section-title3 h2 span::before, .section-title3 h2 span::after {
        content: unset;
    }
}

@media (max-width: 820px) {
    /* .tred-pro .tr-pro-img.default-img a img {
        height: 250px;
    } */
}

@media (min-width: 479px) and (max-width: 768px) {
    .blog-home10.owl-carousel .items * {
        max-width: 450px;
        margin: 0 auto;
    }
}

@media (max-width: 531px) {
    .home4-featured .items {
        width: 80%;
    }
    .home4-featured .items .tr-pro-img.default-img a img {
        width: 80%;
        margin: 0 auto;
        height: 230px;
    }
}

@media (max-width: 422px) {
    .home4-featured .items {
        width: 80%;
    }
    .home4-featured .items .tr-pro-img.default-img a img {
        width: 95%;
        height: 250px;
    }
}

@media (min-width: 830px) and (max-width: 978px) {
    .home4-featured .items {
        width: 100%;
    }
    .home4-featured .items .tr-pro-img.default-img a img {
        width: 100%;
    }
    .home4-featured .owl-item.active {
        margin-right: 15px;
    }
}

@media (min-width: 565px) and (max-width: 699px) {
    .home4-featured .items {
        width: 85%;
    }
    .home4-featured .items .tr-pro-img.default-img a img {
        width: 100%;
    }
}