@media (max-width: 1199px) {
    /* register page css */
    .register-area{
        max-width: 70%;
    }
    .register-area .register-box h1{
        font-size: 24px;
    }
    /* login page css */
    .login-area{
        max-width: 70%;
    }
    .login-area .login-box h1{
        font-size: 24px;
    }
}

@media (max-width: 991px) {
    /* register page css */
    .register-area{
        max-width: 100%;
    }
    .register-area .register-box h1{
        font-size: 20px;
    }
    /* login page css */
    .login-area{
        max-width: 100%;
    }
    .login-area .login-box h1{
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    /* register page css */
    .register-area{
        flex-direction: column;
        max-width: 500px;
    }
    .register-area .register-box{
        width: 100%;
        min-width: unset;
    }
    .register-area .register-account{
        width: calc(100% - 0px);
        margin-left: 0px;
    }
    .register-area .register-box form input{
        margin-top: 20px;
    }
    .register-area .register-box a.btn-style1{
        margin-top: 20px;
    }
    .register-area .register-account h4{
        margin-top: 30px;
    }
    .register-area .register-account a.ceate-a{
        margin-top: 20px;
    }
    .register-area .register-account .register-info a.terms-link{
        margin-top: 20px;
    }
    /* login page css */
    .login-area{
        flex-direction: column;
    }
    .login-area .login-box{
        width: 100%;
    }
    .login-area .login-account{
        width: calc(100% - 0px);
        margin-left: 0px;
    }
    .login-area .login-box form label{
        margin-top: 20px;
    }
    .login-area .login-box a.btn-style1{
        margin-top: 20px;
    }
    .login-area .login-box a.re-password{
        margin-top: 20px;
    }
    .login-area .login-account h4{
        margin-top: 23px;
    }
    .login-area .login-account a.ceate-a{
        margin-top: 20px;
    }
}

@media (max-width: 420px) {
    .register-box {
        padding: 10px !important;
    }
}