{% extends 'base.html' %}
{% load static %}
{% load products_display %}

{% block page-title %} {{ product.get_category_display.title }}s {% endblock page-title %}

{% block imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/product-page-compiled.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product-compiled-responsive.css' %}">
{% endblock imports %}

{% block main-content %}
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-start">
                        <ul class="breadcrumb-url">
                            <li class="breadcrumb-url-li">
                                <a href="index5.html">Home</a>
                            </li>
                            <li class="breadcrumb-url-li">
                                <a href="#"><span>{{ product.name }}</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-tb-padding pro-page">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-12 col-md-12 pro-image">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 larg-image">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="image-55">
                                    <a href="javascript:void(0)" class="long-img">
                                        <figure> <!--style="background-image: url({{ product.image.url }})"-->
                                            <img src="{{ product.image.url }}" class="img-fluid" alt="image">
                                        </figure>
                                    </a>
                                </div>
                                {% for extra_image in product.moreproductimages_set.all %}
                                    <div class="tab-pane fade" id="image-{{extra_image.id}}">
                                        <a href="javascript:void(0)" class="long-img">
                                            <figure class="" onmousemove="zoom(event)"> <!--style="background-image: url({{ extra_image.image.url }})-->
                                                <img src="{{ extra_image.image.url }}" class="img-fluid" alt="image">
                                            </figure>
                                        </a>
                                    </div>
                                {% endfor %}
                                {% comment %} 
                                <div class="tab-pane fade" id="image-22">
                                    <a href="javascript:void(0)" class="long-img">
                                        <figure class="zoom" onmousemove="zoom(event)" style="background-image: url({% static 'image/pro-page-image/prro-page-image01.jpg' %})">
                                            <img src="{% static 'image/pro-page-image/prro-page-image01.jpg' %}" class="img-fluid" alt="image">
                                        </figure>
                                    </a>
                                </div> {% endcomment %}
                                {% comment %}
                                <div class="tab-pane fade" id="image-88">
                                    <a href="javascript:void(0)" class="long-img">
                                        <figure class="zoom" onmousemove="zoom(event)" style="background-image: url({% static 'image/pro-page-image/pro-page-image03.jpg' %})">
                                            <img src="{% static 'image/pro-page-image/pro-page-image03.jpg' %}" class="img-fluid" alt="image">
                                        </figure>
                                    </a>
                                </div> {% endcomment %}
                            </div>
                            <ul class="nav nav-tabs images-nav"><!--pro-pag-5-slider owl-carousel owl-theme-->
                                <li class="nav-item items">
                                    <a class="nav-link" data-bs-toggle="tab" href="#image-55"><img src="{{ product.image.url }}" class="img-fluid" alt="image"></a>
                                </li>
                                {% for extra_image in product.moreproductimages_set.all %}
                                    <li class="nav-item items">
                                        <a class="nav-link active" data-bs-toggle="tab" href="#image-{{extra_image.id}}"><img src="{{ extra_image.image.url }}" class="img-fluid" alt="image"></a>
                                    </li>
                                {% endfor %}
                                {% comment %} <li class="nav-item items">
                                    <a class="nav-link" data-bs-toggle="tab" href="#image-88"><img src="{% static 'image/pro-page-image/image7.jpg' %}" class="img-fluid" alt="image"></a>
                                </li> {% endcomment %}
                            </ul>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 pro-info">
                            <h4>{{ product.name }}</h4>
                            <div class="rating">
                                <i class="fa fa-star d-star"></i>
                                <i class="fa fa-star d-star"></i>
                                <i class="fa fa-star d-star"></i>
                                <i class="fa fa-star d-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="pro-availabale">
                                <span class="available">Availability:</span>
                                {% if product.in_stock %}
                                    <span class="pro-instock">In stock</span>
                                {% else %}
                                    <span class="pro-instock">Out of stock</span>
                                {% endif %}
                            </div>
                            <div class="pro-price">
                                <span class="new-price">₦{{ product.price }} NGN</span>
                                {% if product.previous_price > 0 %}
                                    <span class="old-price">₦{{ product.previous_price }} NGN</span>
                                {% endif %}
                                {% if product.percent_off > 3 %}
                                    <div class="Pro-lable">
                                        <span class="p-discount">-{{ product.percent_off }}%</span>
                                    </div>
                                {% endif %}
                            </div>
                            {% comment %} <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer type and</p> {% endcomment %}
                            {% comment %} <div class="pro-items">
                                <span class="pro-size">Size:</span>
                                <ul class="pro-wight">
                                    <li><a href="javascript:void(0)" class="active">5LTR</a></li>
                                    <li><a href="javascript:void(0)">2LTR</a></li>
                                    <li><a href="javascript:void(0)">3LTR</a></li>
                                </ul>
                            </div> {% endcomment %}
                            {% comment %} <div class="product-color">
                                <span class="color-label">Color:</span>
                                <span class="color">
                                    <a href="javascript:void(0)" class="active"><span></span></a>
                                    <a href="javascript:void(0)"><span></span></a>
                                    <a href="javascript:void(0)"><span></span></a>
                                </span>
                            </div> {% endcomment %}
                            <form method="post">
                                {% csrf_token %}
                                <div class="pro-qty">
                                    <span class="qty">Quantity:</span>
                                    <div class="plus-minus">
                                        <span>
                                            <a href="javascript:void(0)" class="minus-btn text-black">-</a>
                                            <input type="text" name="quantity" value="1">
                                            <a href="javascript:void(0)" class="plus-btn text-black">+</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="pro-btn">
                                    <button name="add_to_wishlist" value="True" type="submit" role="button" href="#" class="btn btn-style1"><i class="fa fa-heart"></i></button>
                                    <button name="add_to_cart" value="True" class="btn btn-style1"><i class="fa fa-shopping-bag me-1"></i> Add to cart</button><!--addToCart({{product.id}}, input, {{product.get_category_name}})-->
                                    <a href="checkout-2.html" class="btn btn-style1">Buy now</a>
                                </div>
                            </form>
                            <div class="share">
                                <span class="share-lable">Share:</span>
                                <ul class="share-icn">
                                    <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-12 col-md-12 pro-shipping">
                    <div class="product-service">
                        <div class="icon-title">
                            <span><i class="ti-truck"></i></span>
                            <h4>Delivery info</h4>
                        </div>
                        <p>Orders are delivered from Monday to Friday between 7:00AM and 7:00PM. All games are delivered for free.</p>
                    </div>
                    <div class="product-service">
                        <div class="icon-title">
                            <span><i class="ti-reload"></i></span>
                            <h4>30 days returns</h4>
                        </div>
                        <p>All prodcuts except games are permitted for return within 30 days of purchase. Terms and Conditions apply.</p>
                    </div>
                    {% comment %} <div class="product-service">
                        <div class="icon-title">
                            <span><i class="ti-id-badge"></i></span>
                            <h4>Help & Support</h4>
                        </div>
                        <p>Read our terms & conditions before making a purchase and contact support if you have any questions.</p>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </section>

    <section class="section-b-padding pro-page-content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="pro-page-tab">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#tab-1">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Reviews</a>
                            </li>
                            {% comment %} <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Video</a>
                            </li> {% endcomment %}
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-1">
                                <div class="tab-1content">
                                    <h4 class="mb-3">More about {{ product.name }}</h4>
                                    <div class="tab-description">
                                        {{ product.description | safe }}
                                    </div>
                                </div>
                                <div class="tab-2content fields_table mt-5">
                                    {% comment %} <h4>Key specifications</h4> {% endcomment %}
                                    <table>
                                        <thead>
                                            <th>Device Specifications</th>
                                        </thead>
                                        <tbody>
                                            {% for name, value in all_fields.items %}
                                                <tr class="field_row">
                                                    <td class="field_name">{{ name }}</td>
                                                    <td class="field_value">{{ value }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="tab-2">
                                <h4 class="reviews-title">Customer reviews</h4>
                                <div class="customer-reviews t-desk-2">
                                    {% comment %} <span class="p-rating">
                                        <i class="fa fa-star e-star"></i>
                                        <i class="fa fa-star e-star"></i>
                                        <i class="fa fa-star e-star"></i>
                                        <i class="fa fa-star e-star"></i>
                                        <i class="fa fa-star e-star"></i>
                                    </span> {% endcomment %}
                                    {% comment %} <p class="review-desck">Based on 2 reviews</p> {% endcomment %}
                                    <a href="#add-review" data-bs-toggle='collapse'>Write a review</a>
                                </div>
                                <div class="review-form collapse" id="add-review">
                                    <h4>Write a review</h4>
                                    <form>
                                        <label>Name</label>
                                        <input type="text" name="name" placeholder="Enter your name">
                                        <label>Email</label>
                                        <input type="text" name="mail" placeholder="Enter your Email">
                                        <label>Rating</label>
                                        <span>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </span>
                                        <label>Review title</label>
                                        <input type="text" name="mail" placeholder="Review title">
                                        <label>Add comments</label>
                                        <textarea name="comment" placeholder="Write your comments"></textarea>
                                    </form>
                                </div>
                                {% for review in product.productreviews_set.all %}
                                    <div class="customer-reviews">
                                        <span class="p-rating">
                                            <i class="fa fa-star e-star"></i>
                                            <i class="fa fa-star e-star"></i>
                                            <i class="fa fa-star e-star"></i>
                                            <i class="fa fa-star e-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                        <h4 class="review-head">{{ review.review_title }}</h4>
                                        <span class="reviews-editor">{{ review.reviewer.get_full_name }} <span class="review-name">on</span> {{ review.date_submitted }}</span>
                                        <p class="r-description">{{ review.review | safe }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="featured-product section-tb-padding">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-title3">
                        <h2><span>Related Products</span></h2>
                    </div>
                    {% product_slider related_products %}
                </div>
            </div>
        </div>
    </section>

    <section class="featured-product section-b-padding">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-title3">
                        <h2><span>Others also bought</span></h2>
                    </div>
                    {% product_slider related_products %}
                </div>
            </div>
        </div>
    </section>

    <script>
        function zoom(e){
          /* var zoomer = e.currentTarget;
          e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX
          e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX
          x = offsetX/zoomer.offsetWidth*100
          y = offsetY/zoomer.offsetHeight*100
          zoomer.style.backgroundPosition = x + '% ' + y + '%'; */
        }
    </script>
{% endblock %}