{% extends 'base.html' %}

{% block main-content %}
    {% comment %} {{ field}} {% endcomment %}
    <section class="featured-product section-tb-padding">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-title3">
                        <h2><span>{{ heading }}</span></h2>
                    </div>
                    <div class="products-grid">
                        {% for product in field_products %}
                            <div class="items">
                                <div class="tred-pro">
                                    <div class="tr-pro-img default-img">
                                        <a href="product-style-4.html">
                                            <img class="img-fluid" src="{{ product.product.image.url }}" alt="product-img">
                                        </a>
                                    </div>
                                    <div class="Pro-lable">
                                        <span class="p-discount">-20%</span>
                                    </div>
                                    <div class="pro-icn">
                                        <a href="wishlist.html" class="w-c-q-icn"><i class="fa fa-heart"></i></a>
                                        <a href="cart.html" class="w-c-q-icn"><i class="fa fa-shopping-bag"></i></a>
                                        <a href="javascript:void(0)"  class="w-c-q-icn" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h3><a href="{{ product.product.get_absolute_url }}">{{ product.product.name }}</a></h3>
                                    <div class="rating">
                                        <i class="fa fa-star c-star"></i>
                                        <i class="fa fa-star c-star"></i>
                                        <i class="fa fa-star c-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="pro-price">
                                        <span class="new-price">NGN {{ product.product.price }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main-content %}