{% extends 'base.html' %}
{% load products_display %}

{% block main-content %}
    {% comment %} {{ field}} {% endcomment %}
    <section class="featured-product section-tb-padding">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-title3">
                        <h2><span>{{ heading }}</span></h2>
                    </div>
                    {% products_grid field_products %}
                </div>
            </div>
        </div>
    </section>
{% endblock main-content %}